.row
	.col-md-2
	.col-md-4
		= link_to 'Account Setting' do
			#settings
				%h4
					.pull-left
						= fa_icon 'cog'
					.text-center
						%strong Account Settings
				%hr
				%h4.text-center.sub-text
					%strong Click to Manage Account Settings
	.col-md-4
		= link_to '#' do
			#lessons
				%h4
					.pull-left
						= fa_icon 'user-plus'
					.text-center
						%strong List a Lesson
				%hr
				%h4.text-center.sub-text
					%strong Click to List a Lesson

	.col-md-2
.row
	.col-md-4
		= link_to '#' do
			#shortlist
				%h4
					.pull-left
						= fa_icon 'heart'
					.text-center
						%strong My Shortlist
				%hr
				%h4.text-center.sub-text
					%strong Click to Manage My Shortlist
	.col-md-4
		= link_to '#' do
			#management
				%h4
					.pull-left
						= fa_icon 'th'
					.text-center
						%strong Lesson(s) Management
				%hr
				%h4.text-center.sub-text
					%strong Click to Manage Lessons
	.col-md-4
		= link_to '#' do
			#reviews
				%h4
					.pull-left
						= fa_icon 'check-circle-o'
					.text-center
						%strong My Review
				%hr
				%h4.text-center.sub-text
					%strong Click to see My Reviews
