= render 'shared/search_header'
.row
	= render "shared/side_menu"
	.col-md-9
		.row
			.col-md-6
				.row
					.col-md-12
						.panel.panel-default
							.panel-body
								%h5.sub-text
									%strong Set a profile picture
								%br
								.row
									.col-md-6.col-md-offset-3
										%span.avatar{ :data => { :profile => current_user.try(:profile).try(:id) } }
											- if current_user.try(:profile).try(:avatar).exists?
												= image_tag current_user.try(:profile).try(:avatar).url
											- else
												= image_tag "avatar.png"
											.upload.text-center{ :title => "change profile picture", :data => { :toggle => "tooltip", :placement => "top" }}
												= fa_icon 'camera'
											= form_tag(profile_path(current_user.profile), method: :put, multipart: true, remote: true) do
												= file_field_tag 'profile[avatar]', id: 'uploadAvatar'
				.row
					.col-md-12
						.panel.panel-default
							.panel-body
								%h5.sub-text
									%strong Security Settings
								%br
								= simple_form_for(current_user, url: registration_path(current_user), html: {  id: "securityDetails", class: 'form-horizontal', method: :put }, wrapper: :horizontal_form) do |f|
									= f.error_notification
									.form-inputs
										= f.input :current_password, label: 'Password', required: true
										= f.input :password, label: 'New Password', autocomplete: "off", required: false
										= f.input :password_confirmation, label: 'Confirm Password', required: false

									.form-actions.text-center
										= f.button :submit, "Change Password", class: 'btn btn-success'
									%br
								%ul.list-unstyled.text-center
									%li= link_to "Deactivate my account", delete_account_accounts_path, remote: true
									%li= link_to "Report Problem", '#'
								.delete_account{ :style => "display: none" }
									Something here

			.col-md-6
				.panel.panel-default
					.panel-body
						%h5.sub-text
							%strong Basic Information
						%br
						= simple_form_for(current_user.profile.user_type.code.eql?('INDIVIDUAL') ? :individual_info : :organization_info, url: account_path(current_user), html: {  class: 'form-horizontal', method: :put }, wrapper: :horizontal_form) do |f|
							= f.error_notification
							.form-inputs
								- if current_user.profile.user_type.code.eql?('INDIVIDUAL')
									= render "accounts/individual_basic", f: f
								- if current_user.profile.user_type.code.eql?('ORGANIZATION')
									= render "accounts/organization_basic", f: f
							.form-actions.text-center{ :style => "padding-bottom: 6px;"}
								= f.button :submit, "Save Changes", class: 'btn btn-success'
								= link_to 'Cancel', '#', class: 'btn btn-default'

		- if current_user.profile.user_type.code.eql?('ORGANIZATION')
			.row
				.col-md-12
					.panel.panel-default
						.panel-body
							%h5.sub-text
								%strong About the Organization
							= simple_form_for(:organization_info, url: account_path(current_user), html: {  method: :put }) do |f|
								= f.input :website, as: :hidden, input_html: { value: current_user.profile.profilable.website }
								= f.input :about, as: :text, required: false, label: false, input_html: { rows: 10, value: current_user.profile.profilable.about }
								.form-actions.text-center
									= f.button :submit, "Save Changes", class: 'btn btn-success'
									= link_to 'Cancel', '#', class: 'btn btn-default'

/ - if current_user.profile.user_type.code.eql?('INDIVIDUAL')
/ 	= render 'dashboard/individual_dashboard'

/ - if current_user.profile.user_type.code.eql?('ORGANIZATION')
/ 	= render 'dashboard/organization_dashboard'

/ .row
/ 	.col-md-12
/ 		.pull-right
/ 			= link_to 'Delete Account', delete_account_accounts_path, remote: true, class: 'btn btn-danger'
/ 			= link_to 'Report a Problem', '#', class: 'btn btn-default'


%row
  %col-md-12.pull-right
    = link_to 'Delete Account', delete_account_accounts_path, remote: true, class: 'btn btn-danger'
    = link_to 'Report a Problem', '#', class: 'btn btn-default'

// TODO: MAKE FORM FOR REPORT A PROBLEM
