= render 'shared/search_header'
= render 'shared/dash_header'
.row
	= render "shared/side_menu"
	.col-md-9
		.row
			.col-md-6
				.row
					.col-md-12
						.panel.panel-default
							.panel-body
								%h5.sub-text
									%strong Set a profile picture
								%br
								.row
									.col-md-6.col-md-offset-3
										%span.avatar{ :data => { :profile => current_user.try(:profile).try(:id) } }
											- if current_user.try(:profile).try(:avatar).try(:exists?)
												= image_tag current_user.try(:profile).try(:avatar).url(:medium)
											- else
												= image_tag "avatar.png"
											.upload.text-center{ :title => "change profile picture", :data => { :toggle => "tooltip", :placement => "top" }}
												= fa_icon 'camera'
											= form_tag(profile_path(current_user.profile), method: :put, multipart: true, remote: true) do
												= file_field_tag 'profile[avatar]', id: 'uploadAvatar'
				.row
					.col-md-12
						.panel.panel-default
							.panel-body
								%h5.sub-text
									%strong Security Settings
								%br
								= simple_form_for(current_user, url: registration_path(current_user), html: {  id: "securityDetails", class: 'form-horizontal', method: :put }, wrapper: :horizontal_form) do |f|
									= f.error_notification
									.form-inputs
										= f.input :current_password, label: 'Password', required: true
										= f.input :password, label: 'New Password', autocomplete: "off", required: false
										= f.input :password_confirmation, label: 'Confirm Password', required: false
									.form-actions.text-center
										= f.button :submit, "Change Password", class: 'btn btn-success'
									%br
								%ul.list-unstyled.text-center
									%li= link_to "Deactivate my account", delete_account_accounts_path, remote: true
									%li= link_to 'Report a Problem', problem_report_accounts_path, remote: true

								.delete_account{ :style => "display: none" }
									Something here

			.col-md-6
				.panel.panel-default
					.panel-body
						%h5.sub-text
							%strong Basic Information
						%br
						= simple_form_for(current_user.profile.user_type.code.eql?('INDIVIDUAL') ? :individual_info : :organization_info, url: account_path(current_user), html: {  class: 'form-horizontal', method: :put }, wrapper: :horizontal_form) do |f|
							= f.error_notification
							.form-inputs
								- if current_user.profile.user_type.code.eql?('INDIVIDUAL')
									= render "accounts/individual_basic", f: f
								- if current_user.profile.user_type.code.eql?('ORGANIZATION')
									= render "accounts/organization_basic", f: f
							.form-actions.text-center{ :style => "padding-bottom: 6px;"}
								= f.button :submit, "Save Changes", class: 'btn btn-success'
								= link_to 'Cancel', '#', class: 'btn btn-default'

		- if current_user.profile.user_type.code.eql?('ORGANIZATION')
			.row
				.col-md-12
					.panel.panel-default
						.panel-body
							%h5.sub-text
								%strong About the Organization
							= simple_form_for(:organization_info, url: account_path(current_user), html: {  method: :put }) do |f|
								= f.input :website, as: :hidden, input_html: { value: current_user.profile.profilable.website }
								= f.input :about, as: :text, required: false, label: false, input_html: { rows: 10, value: current_user.profile.profilable.about }
								.form-actions.text-center
									= f.button :submit, "Save Changes", class: 'btn btn-success'
									= link_to 'Cancel', '#', class: 'btn btn-default'

		.row
			.col-md-12
				.panel.panel-default
					.panel-body#payment_setting_div
						%h5.sub-text
							%strong Payment Settings
							%p{:style => "margin-top:10px;"} Select and input your payment instructions in the box below. The instruction will be sent to prospective students whenever they request to enroll in your course. They are required to make payment within 24 hours in order to confirm the placement for the course.
							%p As a proof of payment, they will be required to send an image with the payment transaction ID/receipt to your inbox. When you received their payment, please proceed to confirm their placing.
							%u Select preferred mode of payment
						
						= simple_form_for(:pay_me, url: payment_setting_path, html: {  method: :post }) do |f|
							
							= hidden_field_tag 'pay_me[user]', current_user.id

							= label_tag "Bank Transfer"
							= f.radio_button :method, 'bank_transfer',  id: 'bank_transfer_button'
							%br/
							= text_area_tag 'pay_me[bank_instructions]', @pay_me.try(:method) == 'bank_transfer' ? @pay_me.detail : '', id: 'transfer_textrea', style: 'width:100%', rows:3, cols: 60, placeholder: '(e.g. Bank Name, Bank Account Number, Bank Account Routing Number)'
							= label_tag "Webpage with Transfer Details"
							= f.radio_button :method, 'webpage', id: "webpage_detail_button"
							%br/

							= text_field_tag 'pay_me[payment_website]', @pay_me.try(:method) == 'webpage' ? @pay_me.detail : '', label: false, styled: 'width:100%', id: 'webpage_payment', placeholder: 'Webpage address (e.g. www.mypersonalpage.com.sg)'
							= label_tag = "Cash Payment"
							= f.radio_button :method, 'cash', id: "cash_payment_button"
							%br/

							= label_tag = "Not Applicable"
							= f.radio_button :method, 'na', id: "na_payment_button"
							%br/

							= f.button :submit, "Save Changes", class: 'btn btn-success'
