.home_search_div.col-md-12
	.row.home_search_input.text-center{ style: "padding: 50px 50px 0 50px" }
		.col-sm-12
			%form{ class: "form-inline", action: :search, method: :get, id: :search }
				.form-group
					.input-group{ style: "width: 90vh !important;" }
						.input-group-addon
							= fa_icon "search"
						%input{ type: "text", class: "form-control input-lg ui-autocomplete-input", name: 'search[search]', placeholder: "I Would Like To Learn..." }
	.row.home_search_inspiration.text-center{ style: "padding: 10px 50px 0 50px" }
		.col-sm-12
			= link_to '#', style: "color: #fff" do
				= fa_icon "lightbulb-o", text: "Need an inspiration?"
