= render 'shared/search_header'
%section#about
	.container
		%br
		%br
		%br
		%h1
			%strong ABOUT US
		%h3
			%strong All about Prevalearn

%section#about-content
	.container
		.row.text-center
			.col-sm-12
				%br
				%h2
					ABOUT US
					%br
					%small.text-muted
						%i Moving Worlds, Reinventing Minds
		.row.text-center
			.col-sm-12{ :style => "font-size: 16px" }
				%p Prevalearn is a one-stop, web-based platform through which anyone can learn and teach any skill of their choice, at any time they wish.
				%br

				%p With easy and fast skill matching, you can now enjoy teaching and learning however you want, wherever you want. As a learner, or Skill Seeker in Prevalearn, you face absolutely no age, knowledge or entry limits to rediscovering yourself! Wishing to learn a new magic trick quickly to impress that new date? It’s just a click away! Need easy guitar chords for that impromptu barbeque gathering? Looking for re-training in a new job as a senior employee? We’ve got your back with the huge pool of instructors, also known as Skill Providers, in the community.
				%br

				%p We at Prevalearn believe that learning, in any form, can be made fun and relevant in any possible context, and the possibilities are limitless. Everybody, with their own specialties, can be a Skill Seeker and a Skill Provider at the same time! Watch as everybody around you gets blown away with your new sets of knowledge and skill repertoire, as you explore and begin your exciting journey with us today!
				%br
