= render 'shared/search_header'
.container
	.row.text-center
		.col-sm-12
			%br
			%h2 Contact Us
			%br
	.row
		.col-sm-6
			= simple_form_for :contact do |f|
				= f.input :name
				= f.input :email
				= f.input :subject
				= f.input :message, as: :text, input_html: { rows: 10 }
				.text-center
					= f.button :submit, "Submit", class: "btn btn-success"
		.col-sm-1
		.col-sm-5
			.row
				.col-sm-12
					= image_tag('logo.png', size: "300x70")
			.row
				.col-sm-12
					%h4.text-muted Registered in Singapore
					%h4.text-muted Company number 51332223E
					%br

			.row
				.col-sm-12
					%h4.text-muted General Enquiries: #{link_to 'contact@prevalearn.com', '#'}
					%h4.text-muted Account Support: #{link_to 'support@prevalearn.com', '#'}
