= render 'shared/search_header'
.container
	.row
		.col-sm-12
			%br
			%h3
				%strong FREQUENTLY ASKED QUESTIONS
				%br
				%small.text-muted
					%ul.list-inline{ :style => "margin-top: 15px;" }
						%li#general.about-menu{ :style => "cursor: pointer" }
							General Question
						%li#provider.about-menu{ :style => "cursor: pointer" }
							Skill Providers
						%li#seeker{ :style => "cursor: pointer" }
							Skill Seekers

	%section{ :id => "general-content", :style => "text-align: justified;" }
		.row
			.col-sm-12
				%h5{ :style => "color: #d9534f" }
					%strong How much do I have to pay for the service of Prevalearn?
				%br
				%p{ :style => "font-size: 15px" }
					Prevalearn is free! We encourage an open environment of skills exchange between Skill Providers and Skill Seekers, so that no one will be denied of an opportunity to learn and teach something they wish! We aim to create value in any community, so it’s
					our belief that empowering the underprivileged through skills exchange could be made with lowering, or demolishing any learning or financial barriers to entry.
				%br
				%h5{ :style => "color: #d9534f" }
					%strong What is the age limit for registration?
				%br
				%p{ :style => "font-size: 15px" }
					There is none! However, you need parental consent for registration if you’re a user below 18 years of age. Skill providers, on the other hand, have to be at least 18 years of age to register as one.
				%br
				%h5{ :style => "color: #d9534f" }
					%strong I accidentally scrolled over/clicked away someone I wanted as a Skill Provider/Skill Seeker! What do I do?
				%br
				%p{ :style => "font-size: 15px" }
					Don’t fret! You can re-enter your search criteria in the search function, and the user in question should appear again, unless you have flagged him or her for objectionable content. The Skill Provider/Seeker won’t know of this either, as nothing is set in stone till you have confirmed and locked into a match with a Skill Provider/Seeker of your choice!
				%br
				%h5{ :style => "color: #d9534f" }
					%strong I see objectionable content in matches I’m being offered to in Prevalearn. What do I do?
				%br
				%p{ :style => "font-size: 15px" }
					You can flag the offending skill provider and file a report through the report system, along with changing your search criteria or preferences. We take such reports seriously, and will review it on an individual case-by-case basis.
				%br
	%section{ :id => "provider-content", :style => "text-align: justified;" }
		.row
			.col-sm-12
				%h5{ :style => "color: #d9534f" }
					%strong How do I list a lesson?
				%br
				%p{ :style => "font-size: 15px" }
					Listing a lesson Prevalearn is easy! Click on the “Teach with Us” banner, and fill your details in the various fields after registering an account with us.
				%br
				%h5{ :style => "color: #d9534f" }
					%strong How do I get more students?
				%br
				%p{ :style => "font-size: 15px" }
					There are numerous methods to boost your profile on Prevalearn! Some ways include being specific and honest about what your lesson entails, along with timing and venue. Regular updates which are short and to the point helps massively in keeping interested Skill Seekers in the loop about what you have to offer! Of course, if your lesson looks interesting and fun, that would be one key factor in reaching out to casual Skill Seekers as well.
				%br
				%h5{ :style => "color: #d9534f" }
					%strong How do I get paid?
				%br
				%p{ :style => "font-size: 15px" }
					You are free to arrange for payment matters with Skill Seekers directly through your preferred method. Prevalearn does not charge any middleman fees or administrative fees for the usage of this system!
				%br
				%h5{ :style => "color: #d9534f" }
					%strong What if I’m not available as a Skill Provider to teach over a period of time?
				%br
				%p{ :style => "font-size: 15px" }
					If you’re unavailable to teach a skill for the time being, you can set your profile as “undiscoverable”. This hides your profile away from the matching system, and you will not receive and Skill Seeker requests or enquiries during this period of unavailability.
				%br
				%h5{ :style => "color: #d9534f" }
					%strong What is the minimum qualification required to sign up as a Skill Provider?
				%br
				%p{ :style => "font-size: 15px" }
					There are none! However, it is preferable if you could upload photos and documentary proof of your skill proficiency, which also comes hand in hand with our user rating system, to spruce up your Skill Provider profile!
				%br
	%section{ :id => "seeker-content", :style => "text-align: justified;" }
		.row
			.col-sm-12
				%h5{ :style => "color: #d9534f" }
					%strong How will I be matched to a Skill Provider?
				%br
				%p{ :style => "font-size: 15px" }
					When Prevalearn receives a Skill Seeker request for you, a match with a relevant Skill Provider will be conducted based on the specifications that you have laid for the skill you wish to learn, the amount of fees you are willing to pay to learn the skill, as well as the proximity of their location to the Skill Provider. A double confirmation system will be used--- a Skill Seeker will select a skill or subject under a list of skill criteria, and this will be matched in accordance to the list of skills that Skill Providers present are willing to teach. A list will then be compiled for each side, which shows the Skill Seekers or Skill Providers present to learn/teach the skill. Premium users will have their profiles and names listed at the top of these lists.
				%br
				%h5{ :style => "color: #d9534f" }
					%strong Should I leave a review after I've attended a lesson I was matched to?
				%br
				%p{ :style => "font-size: 15px" }
					Absolutely! Your reviews will greatly help other users as well in the rating system, where other skill providers are filtered according to an individual user’s search preferences. Constructive feedback might go a long way in improving on the process of teaching and learning for all users at the same time!
				%br
				%h5{ :style => "color: #d9534f" }
					%strong My family member/friend wishes to learn from this skill provider too, can I book for them?
				%br
				%p{ :style => "font-size: 15px" }
					You could encourage them to create an account at Prevalearn, and in turn share it with their friends too! We encourage an inclusive environment of all ages and background, so your family members and friends are more than welcome to start their own learning and/or teaching journey with us in Prevalearn!
				%br
				%h5{ :style => "color: #d9534f" }
					%strong What if I suddenly cancel my attendance for a lesson, or fail to turn up without sufficient prior notice?
				%br
				%p{ :style => "font-size: 15px" }
					Penalties (if any) for no-shows are set at the sole discretion of the Skill Provider you were matched to, and Prevalearn shall not be held responsible for any losses you may have incurred in failing to turn up for a lesson under such circumstances. We do encourage Skill Seekers to give Skill Providers ample notice (of which the buffer timing for cancellation is mentioned on the Skill Provider’s profile) if
				%br
