%section
  #carousel-example-generic.carousel.slide{ :data => { :ride => "carousel" } }
    %ol.carousel-indicators
      %li.active{ :data => { :target => "#carousel-example-generic", :slide => { :to => "0" } } }
      %li{ :data => { :target => "#carousel-example-generic", :slide => { :to => "1" } } }
      %li{ :data => { :target => "#carousel-example-generic", :slide => { :to => "2" } } }

    .carousel-inner{ :role => "listbox", :style => "min-height: 80vh !important;" }
      .item.active{ :id => "firstItem" }
        .container
          .row{ :style => "padding: 150px 50px 0 50px" }
            .col-sm-12
              %h1
                %strong SMARTER LEARNING
              %h3
                %strong Learning a skill made simple
              %br
              %br

      .item{ :id => "secondItem" }
        .container
          .row{ :style => "padding: 150px 50px 0 50px" }
            .col-sm-12
              %h1
                %strong SEAMLESS MATCHING
              %h3
                %strong Bridging people with precision
              %br
              %br

      .item{ :id => "thirdItem" }
        .container
          .row{ :style => "padding: 150px 50px 0 50px" }
            .col-sm-12
              %h1
                %strong LIMITLESS OUTREACH
              %h3
                %strong The world can be your stage
              %br
              %br

      = render "home_search_form"

    %a.left.carousel-control{ :href => "#carousel-example-generic", :role => "button", :data => { :slide => "prev" } }
      %span.glyphicon.glyphicon-chevron-left{ :aria => { :hidden => "true" } }
      %span.sr-only Previous
    %a.right.carousel-control{ :href => "#carousel-example-generic", :role => "button", :data => { :slide => "next" } }
      %span.glyphicon.glyphicon-chevron-right{ :aria => { :hidden => "true" } }
      %span.sr-only Next
%br
%br
.container{ :style => "min-height: 80vh !important;" }
  .row
    .col-sm-12
      .row
        .col-sm-12.text-center
          %h2
            How it Works?
            %br
            %br
            %small
              %strong Learn Something New Today with Prevalearn
          %br
          %br
          %br
      .row
        .col-sm-12
          .row
            .col-sm-2
              .text-center
                = image_tag("how_it_works/Picture1.png", alt: "sign_up", size: "130x130")
                %br
                %h4 Sign Up
            .col-sm-1.text-center{ :style => "color: #5cb85c; margin-top: 5%;" }
              = fa_icon("circle")
              = fa_icon("circle")
              = fa_icon("circle")
              = fa_icon("circle")
            .col-sm-2
              .text-center
                = image_tag("how_it_works/Picture2.png", alt: "sign_up", size: "130x130")
                %br
                %h4 Identify Skill
            .col-sm-1.text-center{ :style => "color: #d9534f; margin-top: 5%;" }
              = fa_icon("circle")
              = fa_icon("circle")
              = fa_icon("circle")
              = fa_icon("circle")
            .col-sm-2
              .text-center
                = image_tag("how_it_works/Picture3.png", alt: "sign_up", size: "130x130")
                %br
                %h4 Find Instructor
            .col-sm-1.text-center{ :style => "color: #337ab7; margin-top: 5%;" }
              = fa_icon("circle")
              = fa_icon("circle")
              = fa_icon("circle")
              = fa_icon("circle")
            .col-sm-3
              .text-center
                = image_tag("how_it_works/Picture4.png", alt: "sign_up", size: "130x130")
                %br
                %h4 Arrange & Confirm!
  %br
  %br

%section.learn{ :style => "min-height: 80vh !important;" }
  %br
  %br
  %br
  .container
    .row
      .col-sm-12.text-center
        %h2 Learn With Confidence And Rediscover A New You
        %br
        %br
    .row
      .col-sm-6
      .col-sm-1
      .col-sm-5
        %p.text-center{ :style => "font-size: 20px !important" }
          The rewards of learning a skill may not be immediately apparent during the process - yet your efforts put into it will surely blossom into a surprise that you might even find unfathomable.
        %p.text-center{ :style => "font-size: 20px !important" }
          Much like a lotus in bloom amongst the lilies, you will definitely stand out among the people around you with new skills and knowledge learnt - and encourage your peers to pick up a new skill too.
  %br
  %br

.container{ :style => "min-height: 80vh !important;" }
  .row
    .col-sm-12
      .row.text-center
        %br
        .col-sm-12
          %br
          %h2
            %strong SECURE YOUR FUTURE
          %br
      .row.text-center
        .col-sm-3
          = image_tag("secure_future/head_start.png", alt: "sign_up", size: "125x125")
          %br
          %h4
            %strong GET A HEADSTART
          %hr{ :style => "width: 100px; border-top: 5px solid #337ab7;" }
          %p{ :style => "font-size: 17px !important" }
            Be that person who blows everyone away with a new skill! Trying to juggle to impress? Or are you seeking new investment strategies? Prevalearn’s here for you!

        .col-sm-3
          = image_tag("secure_future/click_and_match.png", alt: "sign_up", size: "125x125")
          %br
          %h4
            %strong CLICK AND MATCH
          %hr{ :style => "width: 100px; border-top: 5px solid #d9534f" }
          %p{ :style => "font-size: 17px !important" }
            Find your desired Skill Provider or Seeker with only a simple click, and confirm a Match when one catches your eye! Fast, simple, and clean. No hassle.

        .col-sm-3
          = image_tag("secure_future/be_a_star.png", alt: "sign_up", size: "125x125")
          %br
          %h4
            %strong BE FAMOUS
          %hr{ :style => "width: 100px; border-top: 5px solid #5cb85c" }
          %p{ :style => "font-size: 17px !important" }
            What if you can be really popular with unparalleled outreach? At Prevalearn, you stand to dazzle many with an intuitive, user-friendly, and precise rating system!

        .col-sm-3
          = image_tag("secure_future/learn_fast.png", alt: "sign_up", size: "125x125")
          %br
          %h4
            %strong LEARN NEW THINGS FAST
          %hr{ :style => "width: 100px; border-top: 5px solid #f0ad4e" }
          %p{ :style => "font-size: 17px !important" }
            Get matched up with your desired instructor before you can even blink, and master the skill equally quickly as well! Cool, huh?

  %br
  %br

%section.living{ :style => "margin-bottom: -40px; min-height: 80vh !important;" }
  %br
  %br
  %br
  %br
  .container
    .row
      .col-sm-12.text-center
        %h1
          %strong Learning is a matter of living
        %br
    .row
      .col-sm-12.text-center
        %h2
          %strong Join us and help shape the future generations
        %br
        %br
    .row
      .col-sm-12.text-center
        = link_to new_user_registration_path, class: "btn btn-success btn-lg" do
          %strong Sign Up
