.container
	.row
		.col-sm-12
			%br
			%h3
				%strong Privacy Policy
			%br

	.row{ :style => "text-align: justified" }
		.col-sm-12
			%p{ :style => "font-size: 15px" }
				This Privacy Policy (<strong>“Privacy Policy”</strong>) explains how Prevalearn (<strong>“Prevalearn”</strong>, <strong>“we”</strong>, or <strong>“us”</strong>) may collect, use and share information pertaining to visitors and users (<strong>“User”</strong>, <strong>“Skill Seekers”</strong>, or <strong>“You”</strong>) of our website (including www.prevalearn.com and any of its subdomains, the <strong>“Site”</strong>) and users of our products and services (the <strong>“Services”</strong>). Please note that the primary purpose of our Site and the Services allow you to connect with independent contractor instructors ("Skill Providers") who may provide instruction, tutoring, and learning services on a variety of topics (the <strong>“Lesson”</strong>) at their own discretion.
				%br

			%p{ :style => "font-size: 15px" }
				For the purpose of this Privacy Policy, information that you provide through the Site can be in one of two categories: information relating to your use of the Site or the Services, including, without limitation, enrollment information for Lessons, is referred to as “Site Information,” while information relating to taking the Lessons, including, without limitation, interchanges with the Skill Providers, other Skill Seekers, and other items submitted to satisfy Lesson requirements, is referred to as <strong>“Lesson Information”</strong>. When this Privacy Policy uses the generic term “information” it is intended to address the general use of information, and not your specific Site Information or Lesson Information. By using the Site, Services, or Lessons you consent to the collection, use and disclosure of your personally identifiable Site Information and Lesson Information, as applicable, in accordance with this Privacy Policy.
				%br

			%h3
				%strong 1. The Information We Collect, and How We Use It.
			%br
			%p{ :style => "font-size: 15px" }
				You can generally visit the Site without revealing any personally identifiable information about yourself. We do not collect personal information from our Site visitors without the Site visitor providing us with this information as set forth in this Privacy Policy.
				%br
			%p{ :style => "font-size: 15px" }
				Prevalearn Personal Data Protection Policy sets out how Prevalearn complies with the Personal Data Protection Act (PDPA) 2012 of Singapore. This Personal Data Protection Policy sets out:
				%br
				%ol{ :style => "font-size: 15px" }
					%li Our policies on how we manage your Personal Data;
					%li The types of Personal Data we collect, use, disclose and/ or retain;
					%li How we collect, use, disclose and/ or retain your Personal Data; and
					%li The purpose(s) for which we collect, use, disclose and/ or retain your Personal Data.

			%p{ :style => "font-size: 15px" }
				You agree and consent to Prevalearn to collect, use and disclose and/ or retain your Personal Data in the manner set forth in this Personal Data Protection Policy.
				%br

			%p{ :style => "font-size: 15px" }
				This Personal Data Protection Policy forms a part of the terms and conditions governing Your relationship with Us and should be read in conjunction with such terms and conditions (“Terms and Conditions”). In the event of any inconsistency between the provisions of the Personal Data Protection Policy and the Terms and Conditions, the provisions of the Terms and Conditions shall prevail.
				%br

			%p{ :style => "font-size: 15px" }
				In this Personal Data Protection Policy, “Personal Data” refers to any data and/or information about You from which You can be identified by, either (a) from that data; or (b) from that data and other information to which We may have legitimate access to. Examples of such Personal Data include but are not limited to:
				%br
				%ol{ :style => "font-size: 15px" }
					%li Your name, NRIC, passport or other identification number, telephone number(s), mailing address, email address and any other information relating to you which you have provided in any forms You may have submitted to use, or in other forms of interaction with You;
					%li Your photos;
					%li Your employment history, education background, and income levels;
					%li Personal Data of Your family members, such as next of kin, spouses, and children;
					%li Information relating to payments, such as Your bank account number or credit card information;
					%li Information about Your usage of and interaction with our website and/ or services including computer and connection information, device capability, bandwidth, statistics on page views and traffic to and from our website.

			%p{ :style => "font-size: 15px" }
				If You request to receive company or product information, or request information about specific Services, or provide comments about Services, You will be asked to provide contact information so that we can complete Your request. We use this Site Information to fulfill your request. We may also use this Site Information to send You additional information about our Services or Lessons on the Site that You may be interested in.
				%br

			%p{ :style => "font-size: 15px" }
				Some of the Services require that you become a registered user and create a user account. This will require that you provide certain Personal Data, that may include (but not be limited to) Your company’s name, e-mail address, as well as telephone and address information.
				%br

			%p{ :style => "font-size: 15px" }
				You allow us to use this Personal Data to register You to use the Services, connect with Skill Providers and participate in their Lessons, and otherwise provide You with the Services; verify Your authority to enter the Site and access the Lessons and Services; notify You of updates; improve the content and general administration of the Site and the Services; provide You with notices regarding the Services and other services that You have purchased or may wish to purchase in the future.
				%br

			%p{ :style => "font-size: 15px" }
				You also consent to our providing this Personal Data to Skill Providers as part of the Lesson Information when You enroll in a Lesson. Skill Providers will use this Lesson Information to provide the Lesson to You. Skill Providers may have other users for Lesson Information. It is Your responsibility when You enroll in a Lesson to confirm what uses the Skill Providers will make of Your personally identifiable Lesson Information. Prevalearn does not control these uses by Skill Providers.
				%br

			%h4
				%strong 1.1 Collection of your Personal Data

			%p{ :style => "font-size: 15px" }
				Generally, We may collect your Personal Data through the following ways:
			%ol{ :style => "font-size: 15px" }
				%li To inform You on Prevalearn updates, services and events;
				%li To inform You on potential leads and referrals;
				%li To assist You with your enquiries;
				%li to improve membership/ customer services, such as resolving complaints and handling requests and enquiries;
				%li To conduct research, surveys and interviews; and
				%li To comply with applicable laws and regulations.
				%br

			%h3
				%strong 2. Other Information We Collect and How We Use It.
			%br

			%p{ :style => "font-size: 15px" }
				Prevalearn may also automatically collect and analyze Site Information about your general usage of the Site, Services and Lessons. We might track your usage patterns to see what features of the Site, Services and Lessons you commonly use, Site traffic volume, frequency of visits, type and time of transactions, type of browser, browser language, IP address and operating system, and statistical information about how you use the Services and Lessons. We only collect, track and analyze such Site Information in an aggregate manner that does not personally identify you. This aggregate data may be used to assist us in operating the Site and the Services and provided to other third parties to enable them to better understand the operation of the Services, and improve their Lesson offerings, but such information will be in aggregate form only and it will not contain personally identifiable data.
				%br

			%p{ :style => "font-size: 15px" }
				Skill Providers may collect non-personally identifiable Lesson Information in connection with your participation in the Lessons. This Lesson Information may include, but not be limited to, your interaction with the Instructor and other Users, comments you leave on Skill Provider reviews, paperwork you submit to satisfy Lesson requirements, and so forth. As noted above, it is your responsibility to review the Instructor’s policy in connection with all Lesson Information and decide whether or not you want to provide such Lesson Information.
				%br

			%h4
				%strong 2.1 Marketing/ Optional Purposes	

			%ol{ :style => "font-size: 15px" }
				%li We may contact you via mail, electronic mail, telephone (call or SMS-Text), facsimile or related social media platforms, to inform you about Prevalearn services and events that we feel may be of interest to you.
				%li You can inform us at any time if you no longer wish to receive marketing information through email (contact@Prevalearn.com) and we will remove your details from our direct marketing database.
				%li Please note that we may still send you non-marketing messages such as surveys, customer-service notices and other service related notices.
				%br

			%h3
				%strong 3. Children.
			%br

			%p{ :style => "font-size: 15px" }
				We recognize the privacy interests of children, and we encourage parents and guardians to take an active role in their children’s online activities and interests. We do not knowingly collect personal information from children under 13. If we learn that we have collected personal information from a child under 13, we will delete such information. Children under the age of 13 may not register for an account or register for Lessons. Individuals under the age of 18 may only use the Services with the involvement, supervision, and approval or a parent or legal guardian.
				%br

			%h3
				%strong 4. Disclosure of Information.
			%br

			%p{ :style => "font-size: 15px" }
				We will share your personally identifiable Site Information with third parties only in the ways that are described in this privacy policy. These include, but are not limited to, sharing Site Information with service providers to allow them to fulfill your requests, to Skill Providers (in which case this will become Lesson Information), and to your employer if you are enrolled through Prevalearn as an employee. We do not sell your personal information to third parties. Please refer to the sections above on personally identifiable and other Lesson Information for how Lesson Information may be used.
				%br

			%p{ :style => "font-size: 15px" }
				We may also disclose your personally identifiable information: (a) if we are required to do so by law, regulation or other government authority or otherwise in cooperation with an investigation of a governmental authority, (b) to enforce these Terms of Use, or (c) to protect the safety of Users of our Site and our Services and Lessons. In addition, we may transfer your personally identifiable information to a successor entity upon a merger, consolidation or other corporate reorganization.
				%br

			%p{ :style => "font-size: 15px" }
				Vendors and Service Providers: We want to provide you with excellent service and make your Prevalearn experience as seamless as possible. We share information, including nonpublic Personal Information, with third parties that perform services on our behalf so we can provide and improve our services. For example, we may disclose Personal Information for customer support by third parties. These third parties must abide by this Privacy Policy and keep nonpublic information confidential and use it only for its intended purpose.
				%br

			%h3
				%strong 5. Data Retention, Use of Cookies and Other Tracking Technologies.
			%br

			%p{ :style => "font-size: 15px" }
				We retain Site Information and the personal data we process on behalf of Users for as long your User Account is active or as long as needed to provide the Services. We will retain and use this personal Site Information and personally identifiable information as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements with Users, and/or the period required by laws in applicable jurisdictions. Please see the sections above for how Lesson Information may be used.
				%br

			%h4
				%strong 5.1 Behavioural Targeting/Re-Targeting:

			%p{ :style => "font-size: 15px" }
				Certain third party ad networks may display advertising on our Website or manage our advertising on other websites. Such parties may use certain tracking technologies to collect Non-personal Information about your activities on the Services and different third party websites to provide you with targeted advertising based on your interests and preferences.
				%br

			%h4
				%strong 5.2 Use of Cookies

			%p{ :style => "font-size: 15px" }
				We may collect and analyse information from anonymity where individuals cannot be identified, which include items such as the number of users and their frequency of use, the number of page views (or page impressions) that occur on our websites and common entry and exit points into our websites. Such aggregate Information collected may be used to assist us in analysing the usage of our website(s) so as to improve your online experience with us. Should you wish to disable the cookies associated with these technologies you may do so by changing the setting on your browser. However, please note that this may affect the functionality of the Site.
				%br

			%h3
				%strong 6. Updating, Correcting and Deleting Your Information; Opt-out.
			%br

			%p{ :style => "font-size: 15px" }
				If you believe that Prevalearn has incorrect Site Information or Lesson Information that was provided as part of the Services, you may use the Services to correct, amend, or delete that information. You may also contact us by e-mailing our customer support at privacy@prevalearn.com. We can only alter Lesson Information that was initially provided to us; You are responsible for keeping relevant information updated on our Site, should there be any changes that concern your usage of Our Services.
				%br

			%h4
				%strong 6.1 Withdrawal of Consent

			%ol{ :style => "font-size: 15px" }
				%li If you wish to withdraw your consent to any use or disclosure of your Personal Data as set out in this Personal Data Protection Policy, you may contact us via contact@Prevalearn.com.
				%li Please note that if you withdraw your consent to any or all use or disclosure of your Personal Data, we will no longer be able to provide any form of Services to you.
				%br

			%h3
				%strong 7. Security.
			%br

			%p{ :style => "font-size: 15px" }
				The security of your personal information is important to us. Prevalearn employs procedural and technological measures to protect your personally identifiable information. These measures are reasonably designed to help protect your personally identifiable information from loss, unauthorized access, disclosure, alteration or destruction. We may use software, secure socket layer technology (SSL) encryption, password protection, firewalls, internal restrictions and other security measures to help prevent unauthorized access to your personally identifiable information. However, Prevalearn cannot guarantee that unauthorized third parties will never be able to defeat these measures or use your personally identifiable information for improper purposes. Therefore, you should be aware that when you voluntarily display or distribute personally identifiable information, that information could be collected and used by others. Prevalearn is not responsible for the unauthorized use by third parties of information you post or otherwise make available publicly.
				%br

			%h3
				%strong 8. Links to Other Websites.
			%br

			%p{ :style => "font-size: 15px" }
				The Site, Services and in particular the Lessons, may provide links to third party web sites or resources not associated with us and over which we do not have control (“External Web Sites”). Such links do not constitute an endorsement by Prevalearn of the External Web Sites, the content displayed therein, or the persons or entities associated therewith. You acknowledge that Prevalearn is only providing these links as a convenience, and cannot be responsible for the content of such External Web Sites.
				%br
			%h4
				%strong 8.1 Third-Party Sites

			%ol{ :style => "font-size: 15px" }
				%li Our website may contain links to other websites operated by third parties independent of Prevalearn. Prevalearn will not be responsible for the privacy practices of such websites operated by third parties even though it is linked to our website(s).
				%li We encourage you to learn about the privacy policies of such third party website(s) by checking the policy of each site you visit and contact its owner or operator if you have any concerns or questions.
				%br

			%h3
				%strong 9. Material Changes.
			%br

			%p{ :style => "font-size: 15px" }
				Prevalearn reserves the right to change this Privacy Policy from time to time. We will post the revised Privacy Policy on this Site located at www.prevalearn.com/terms/privacy/ and will either send a notice to the e-mail address that you specified in your registration and/or post notice of the change so it is visible when users log-on for the first time prior to said changes taking effect so that you are always aware of what personal information We may collect and how We may use this information. We encourage you to review this Privacy Policy regularly for any changes. Your continued use of the Site and/or Services will be subject to the then-current Privacy Policy.
				%br

			%p{ :style => "font-size: 15px" }
				From time to time, we may update this Personal Data Protection Policy to ensure that it is consistent with any regulatory changes. Should any revision(s) be made, updates will be published on our public site (#{link_to 'www.prevalearn.com', 'www.prevalearn.com'}).
				%br

			%h3
				%strong 10. Contact Us.
			%br

			%p{ :style => "font-size: 15px" }
				We welcome your comments or questions concerning our Privacy Policy. If you would like to contact Prevalearn regarding this Privacy Policy, please contact us by emailing us at privacy@prevalearn.com, or at:
				%br

			%h4
				%strong 10.1 Contacting Us

			%p{ :style => "font-size: 15px" }
				If you have any questions or complaints relating to the use or disclosure of your Personal Data, please contact us via email, contact@prevalearn.com.
				%br

