= render 'shared/search_header'
%section#reachout
	.container.text-center
		.row{ :style => "padding-top: 100px;" }
			.col-sm-6.col-sm-offset-3
				%h1
					%strong Reach out to learners quickly, cost-free

		.row
			.col-sm-8.col-sm-offset-2
				%h3
					%strong Ever wanted a hassle-free way to expand your student database? You’ve come to the right place.

		.row{ :style => "padding-top: 20px;" }
			.col-sm-4.col-sm-offset-4
				= link_to "#", class: "btn btn-success btn-lg" do
					%strong Get More Students

%section#usp
	.container
		.row.text-center{ :style => "padding-top: 30px;" }
			.col-sm-12
				%h4 We at Prevalearn believe in a free skills-matching platform where you’re free to learn and teach anytime, anywhere. That’s the precious gift from us to you, and you to the world.

		.row{ :style => "padding-top: 50px; text-align: justified;" }
			.col-sm-6
				.media
					.media-left{ :style => "padding-right: 30px !important" }
						= link_to "" do
							= image_tag("teach_with_us/unmatched_outreach.png", size: "140x140")
					.media-body
						%h4.media-heading Unmatched Outreach
						%br
						Stand out from your peers with our matching system! Enjoy teaching and quick recognition at the same time.
			.col-sm-6
				.media
					.media-left{ :style => "padding-right: 30px !important" }
						= link_to "" do
							= image_tag("teach_with_us/easy_and_secure.png", size: "140x140")
					.media-body
						%h4.media-heading Easy and Secure
						%br
						Robust security measures upon registration ensure safe and accurate user profile searching or matching.

		.row{ :style => "padding-top: 50px; text-align: justified;" }
			.col-sm-6
				.media
					.media-left{ :style => "padding-right: 30px !important" }
						= link_to "" do
							= image_tag("teach_with_us/always_free.png", size: "140x140")
					.media-body
						%h4.media-heading Absolutely Free
						%br
						We are the only platform that does this for free! Prevalearn firmly believes in a skills-trading community, with initiatives such as skills retraining.

			.col-sm-6
				.media
					.media-left{ :style => "padding-right: 30px !important" }
						= link_to "" do
							= image_tag("teach_with_us/automate_admin.png", size: "140x140")
					.media-body
						%h4.media-heading Automate Administration
						%br
						Prevalearn’s matching system helps automate administrative work for you, so that you can focus on lessons alone!
%section
	.container
		.row.text-center
			.col-sm-12
				%br
				%h1
					%strong HOW IT WORKS
		.row#works-image
			.col-sm-3
				%h4{ :style => "padding-top: 250px"}
					%strong{ :style => "font-size: 50px; color: #337ab7"} 1
					.text-center
						Sign up for a SP account
			.col-sm-3.text-center
				%h4{ :style => "padding-top: 170px" }
					%strong{ :style => "font-size: 50px; color: #f0ad4e;"} 2
					List a class
			.col-sm-3
				%h4{ :style => "padding-top: 50px" }
					%strong{ :style => "font-size: 50px; color: #5cb85c"} 3
					.text-center
						Get notified when a student signs up
			.col-sm-3
				%h4
					%strong{ :style => "font-size: 50px; color: #d9534f"} 4
					.text-center
						Confirm lesson and start teaching!

		.row.well
			.col-sm-4.col-sm-offset-4
				= link_to "#", class: "btn btn-success btn-lg btn-block" do
					%strong Start Selling More
