.container
	.row
		.col-sm-12
			%br
			%h3
				%strong Terms and Conditions
			%br

	.row{ :style => "text-align: justified" }
		.col-sm-12
			%h3
				%strong 1. Introduction
			%br

			%p{ :style => "font-size: 15px" }
				THIS AGREEMENT BINDS YOU OR THE COMPANY YOU REPRESENT ("YOU," OR "YOUR") TO THE TERMS AND CONDITIONS SET FORTH HEREIN IN CONNECTION WITH YOUR USE OF PREVALEARN'S ("OUR", "WE", "COMPANY" OR "PREVALEARN") SOFTWARE, SERVICES OR OTHER OFFERINGS ON OUR SITE (COLLECTIVELY, OUR "PRODUCTS"). BY USING ANY OF THE COMPANY CONTENTS OR CLICKING ON THE "SIGN UP" BUTTON, YOU AGREE TO BECOME BOUND BY THE TERMS AND CONDITIONS OF THIS AGREEMENT. IF YOU DO NOT AGREE TO ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, CLICK ON THE "BACK" BUTTON OF YOUR WEB BROWSER  AND DO NOT USE THE COMPANY CONTENTS. COMPANY'S ACCEPTANCE IS EXPRESSLY CONDITIONED UPON YOUR ASSENT TO ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, TO THE EXCLUSION OF ALL OTHER TERMS. IF THESE TERMS AND CONDITIONS ARE CONSIDERED AN OFFER BY COMPANY, ACCEPTANCE IS EXPRESSLY LIMITED TO THESE TERMS.
				%br

			%h3
				%strong 2. Additional Terms.
			%br

			%p{ :style => "font-size: 15px" }
				Any personal information submitted in connection with Your use of the Site and its Contents are subject to our Privacy Policy, located at www.prevalearn.com/terms/privacy/ which is hereby incorporated by reference into these Terms.
				%br

			%h3
				%strong 3. General.
			%br
			
			%p{ :style => "font-size: 15px" }
				The Site enables students (<strong>"Skill Seekers"</strong>) to connect with independent contractor instructors (<strong>"Skill Providers"</strong>) who may provide instruction, tutoring, and learning services on a variety of topics (the <strong>“Lessons”</strong>) at their own discretion. Skill Seekers and Skill Providers are, collectively, <strong>"Users"</strong>. The Site includes, without limitation, facilitating and hosting of offline Lessons, and taking feedback from Users.
				%br

			%p{ :style => "font-size: 15px" }
				Prevalearn reserves the right to revise these Terms in its sole discretion at any time by posting the changes on the Site. Your continued use of the Site after change become effective shall mean that You accept those changes. You should visit the Site regularly to ensure that You are aware of the latest version of the Terms. Notwithstanding the preceding sentences of this section, no revisions to these Terms will apply to any dispute between You and the Prevalearn that arose prior to the date of such revision.
				%br

			%p{ :style => "font-size: 15px" }
				Prevalearn may modify the Site contents or discontinue their availability at any time.
				%br

			%p{ :style => "font-size: 15px" }
				You are solely responsible for all service, telephony, data charges and/or other fees and costs associated with Your access to and use of the Site, as well as for obtaining and maintaining all telephone, computer hardware, and other equipment required for such access and use.
				%br

			%p{ :style => "font-size: 15px" }
				All of Your use, access and other activities relating to the Site and its Contents must be in compliance with all applicable laws and regulations, including, without limitations, laws relating to copyright and other intellectual property use, and to privacy and personal identity. In connection with Your use of the Site and Content, You must not provide incorrect or knowingly false information; copy, distribute, modify, reverse engineer, deface, tarnish, mutilate, hack, or interfere with the Contents or operation of the Site; frame or embed the Site or Contents; impersonate another person or gain unauthorized access to another person's Account; introduce any virus, worm, spyware or any other computer code, file or program that may or is intended to damage or hijack the operation of any hardware, software or telecommunications equipment, or any other aspect of the Products or operation.
				%br

			%h3
				%strong 4. General Disclaimer.
			%br
			
			%p{ :style => "font-size: 15px" }
				The Site is only a marketplace for Skill Providers and Skill Seekers. We do not hire or employ Skill Providers nor are we responsible or liable for any interactions involved between the Skill Providers and their respective Skill Seekers. We are not responsible for disputes, claims, losses, injuries, or damage of any kind that might arise out of or relate to conduct of Skill Providers or Skill Seekers, including, but not limited to, any Skill Seeker's reliance upon any information provided by a Skill Provider.
				%br

			%p{ :style => "font-size: 15px" }
				We do not control Submitted Content (as defined below) posted on the Site and, as such, do not guarantee in any manner the reliability, validity, accuracy or truthfulness of such Submitted Content. You also understand that by using the Products may expose You to Submitted Content that You consider offensive, indecent, or objectionable. Prevalearn has no responsibility to keep such content from You and no liability for Your access or use of any Submitted Content, to the extent permissible under applicable law.
				%br

			%p{ :style => "font-size: 15px" }
				The Site and Products may give You access to links to third-party Websites ("Third Party Sites"), through the Prevalearn Site or Skill Providers. Prevalearn does not endorse any of these Third Party Sites and does not control them in any manner. Accordingly, Prevalearn does not assume any liability associated with Third Party Sites. You need to take appropriate steps to determine whether accessing a Third Party Site is appropriate, and to protect Your personal information and privacy on such a Third Party Site.
				%br

			%h3
				%strong 5. Conduct.
			%br
			
			%p{ :style => "font-size: 15px" }
				You may only access the Site for lawful purposes. You are solely responsible for the knowledge of and adherence to any and all laws, rules, and regulations pertaining to Your use of the Site. You agree not to use the Site or the Prevalearn Content (as defined below) to recruit, solicit, or contact in any form Skill Providers or potential users for employment or contracting for a business not affiliated with us without Our advance written permission, which may be withheld in Our sole discretion. You assume any and all risks from any meetings or contact between You and any Skill Providers or other Users of the Products.
				%br

			%h3
				%strong 6. Specific Obligations of Skill Providers using the Site.
			%br
			
			%p{ :style => "font-size: 15px" }
				If You are instructing Skill Seekers in connection with a Lesson, You are a “Skill Provider”, and the following additional terms and conditions apply, and You represent, warrant and covenant that:
				
			%ul{ :style => "font-size: 15px" }
				%li Your registration as a Skill Provider is free. However, any costs incurred in the course of providing lessons for Skill Seekers will be wholly borne by the Skill Provider.
				%li You, the Skill Provider, must be at least 18 years old in order to register with Prevalearn. Prevalearn shall not be held liable to legal consequences incurred by Skill Providers understating their legal age from wilful manipulation and exploitation of Prevalearn services.
				%li Your lesson listing(s) is subject to Prevalearn's approval, which We may grant or deny in Our sole discretion. Prevalearn reserves the right to cancel a lesson without prior notice if it is deemed detrimental and/or unlawful to the Prevalearn, and/or the community at large.
				%li You are to fill in Your personal particulars accurately. Any omission or attempt to cheat or mislead other users of Prevalearn will result in the deletion of the user’s profile along with corresponding legal action.
				%li You have the required qualifications, credentials and expertise, including without limitation, education, training, knowledge, and skill sets, to teach and offer the services You offer on the Site. Prevalearn reserves the right to request for a copy of Your qualifications for the skill provided, for verification purposes.
				%li You will be responsible for all Your submitted content, relevant descriptions, qualifications or testimonials with regard to the intended skill shall be provided and updated accurately and completely. This gives Prevalearn the authority to reproduce, distribute, publicly perform (including by means of a digital audio transmission), publicly display, communicate to the public, promote, market and otherwise use and exploit any of Your Submitted Content on and through the Products in the manner contemplated by these this Skill Providers Agreement, and that no Submitted Content shall infringe or misappropriate any intellectual property right of a third party;
				%li Your submitted Content which are deemed dishonest with the intention to cheat or mislead other users of Prevalearn, such as and not restricted to: unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation (commercial or otherwise) through the Site can result in the termination of the user’s account along with corresponding legal action.
				%li You will not post any inappropriate, offensive, racist, hateful, sexist, pornographic, false, misleading, infringing, defamatory or libelous content.
				%li You will not use the Products for any business other than for providing tutoring, teaching and instructional services to Skill Seekers;
				%li You will not engage in any activity that will require Prevalearn to obtain any licenses from or pay any royalties to any third party, including, by way of example and not limitation, the payment of royalties for the public performance of any musical works or sound recordings;
				%li You will not copy, modify or distribute Prevalearn Content except as permitted in this Skill Provider Agreement;
				%li Once a match is confirmed, it is Your responsibility as a Skill Provider to contact the Skill Seeker to verify the details of the lessons provided, such as the fees, venue, iming and so on.
				%li You shall respond promptly to Users seeking Your services such as and not restricted to: verification of Skill Seeker details, providing the details of the lessons, fees, venue, timing and payment structure, and ensure a quality of service commensurate with the standards of Your industry and instruction services in general;
				%li You are responsible in ensuring professional conduct of the provision of skill(s) as indicated on Prevalearn, such as punctuality, competent and relevant content, and so on. Prevalearn shall not be held liable for any consequences, legal or personal, arising from unprofessional conduct from the Skill Providers.
				%li You are wholly responsible for the provision of the venue for skill provision, and Prevalearn shall not be held accountable for any legal consequences arising from the usage of these venue(s).
				%li You are encouraged to adhere to a flat rate for information currency and stability in matching.
				%li You are wholly responsible for sudden and unforeseen lesson cancellations, if any, from the Skill Seekers. Prevalearn will not be held responsible for any lesson cancellations from Skill Seekers, and it is the Skill Provider’s responsibility in ensuring Skill Seeker attendance and due payments. Skill Providers are also required to include their preferred buffer duration of notice on their profile description, in the case of lesson cancellations by the Skill Seekers.
				%li You acknowledge and agree to authorizing Prevalearn the right to terminate Your account and rights to teach through Prevalearn if Your lessons are deemed detrimental and/or unlawful to the Prevalearn, and/or the community at large without prior notice.
				%br

			%h3
				%strong 7. Specific Obligations of Skill Seekers using the Site.
			%br

			%p{ :style => "font-size: 15px" }
				If You are a User in search of or participating in a Lesson, You are a Skill Seeker and the following additional terms and conditions apply, and You represent, warrant and covenant that:

			%ul{ :style => "font-size: 15px" }
				%li
					You have read, understood, and agree to be bound by the following information before using the Site or registering for a Lesson;
				
				%li
					You are over the age of 18, or, if not, You will only use the Products with the involvement, supervision, and approval or a parent or legal guardian. Children under the age of 13 may not register for an account, register for, or purchase Lessons.
				
				%li
					You will not upload, post or otherwise transmit any unsolicited or unauthorized advertising, promotional materials, junk mail, spam, chain letters, pyramid schemes or any other form of solicitation (commercial or otherwise) through the Site or the Products;
				
				%li
					You will not post any inappropriate, offensive, racist, hateful, sexist, pornographic, false, misleading, infringing, defamatory or libelous content;
				
				%li
					You will not reproduce, distribute, publicly display, publicly perform, communicate to the public, create derivative works from or otherwise use and exploit any Prevalearn Content, the Products or Lessons or Submitted Content except as permitted by these Terms or the relevant Skill Providers as applicable;
				
				%li
					You will not disclose any unnecessary personal information to an Skill Providers, and otherwise will assume responsibility for controlling how Your personal information is disclosed or used, including, without limitation, taking appropriate steps to protect such information; and

				%li
					You will not solicit personal information from any Skill Providers or other User.

				%li
					You are responsible for any decisions made by You in relying on descriptions as stated by the Skill Providers at any time of posting and listing.

				%li
					You acknowledge that the rates for various Skill Provisions stated on the Prevalearn are wholly based on the Skill Providers’ offers and serves as a non-conclusive guide. You are wholly responsible on the agreement of rates with the respective Skill Providers which You are matched to, if negotiations take place after the match.

				%li
					You agree to the Lesson being conducted at the venue listed by the Skill Provider unless otherwise stated.

				%li
					You agree to the fact that the provision of Trial lessons, if any, are up to the discretion of Skill Providers.

				%li
					You acknowledge that Prevalearn shall not be held responsible to the teaching styles or methods that the Skill Provider employs as listed on their profile(s).

				%li
					You are wholly responsible in ensuring that any transaction or compensation between You and the Skill Provider is satisfied in the case of disputes, in the case of the matched Skill Provider being found unsatisfactory for any reason at any point in time, and You acknowledge that Prevalearn shall not be held liable for any disputes arising from the provision of unsatisfactory skill provision, rates, or conduct.

				%li
					You agree to, and acknowledge that Prevalearn holds no responsibility for the rates set by individual Skill Providers, and You are wholly responsible for exercising good judgment in accepting and agreeing to the rates of the Skill Providers that You are matched to. Any responsibilities stemming from negotiations that happen after the match is to be borne wholly by the You and the Skill Provider.

				%li
					You acknowledge that while Prevalearn aims to provide the most accurate information and statistics possible for the respective Skill Providers, We hold no responsibility for the improvement in skill proficiency of You following a match.

				%li
					You acknowledge that Prevalearn does not collect any commission charges from the lessons following a successful match, and any parties claiming to do so under the guise of Prevalearn or any of its subsidiaries will be held liable for legal action.
				%br

			%h3
				%strong 8. Registration.
			%br

			%p{ :style => "font-size: 15px" }
				To use certain Content on the Site, You will need to register and obtain an account, username and password. When You register, the information You provide to us during the registration process will help us in offering content, customer service, and network management. You are solely responsible for maintaining the confidentiality of Your account, username, and password (collectively, Your "Account") and for all activities associated with or occurring under Your Account. You represent and warrant that Your Account information will be accurate at all times. You must notify us (a) immediately of any unauthorized use of Your Account and any other breach of security, and (b) ensure that You exit from Your Account at the end of each use of the Site. To the extent permissible under applicable law, we cannot and will not be responsible for any loss or damage arising from Your failure to comply with the foregoing requirements or as a result of use of Your Account, either with or without Your knowledge, prior to Your notifying us of unauthorized access to Your Account.
				%br

			%p{ :style => "font-size: 15px" }
				You may not transfer Your Account to any other person and You may not use anyone else's Account at any time without the permission of the account holder.
				%br

			%h3
				%strong 9. Content, Licenses & Permissions.
			%br

			%p{ :style => "font-size: 15px" }
				All software, technology, designs, materials, information, communications, text, graphics, links, electronic art, animations, illustrations, artwork, audio clips, video clips, photos, images, reviews, ideas, and other data or copyrightable materials or content, including the selection and arrangements thereof is "Content." Where the Prevalearn provides Content to You in connection with the Products, including, without limitation, the Software and the Products and the Site, it is "Prevalearn Content." Content uploaded, transmitted or posted to the Site or through the Products by a User is "Submitted Content." Content remains the proprietary property of the person or entity supplying it (or their affiliated and/or third party providers and suppliers) and is protected, without limitation, to Singapore and to foreign copyright and other intellectual property laws. You hereby represent and warrant that You have all licenses, rights, consents, and permissions necessary to grant the rights set forth in these Terms to Prevalearn with respect to Your Submitted Content and that Prevalearn shall not need to obtain any licenses, rights, consents, or permissions from, or make any payments to, any third party for any use or exploitation of Your Submitted Content as authorized in these Terms or have any liability to You or any other party as a result of any use or exploitation of Your Submitted Content as authorized in these Terms.
				%br

			%p{ :style => "font-size: 15px" }
				You hereby grant the Prevalearn a non-exclusive right and license to reproduce, distribute, publicly perform, offer, market and otherwise use and exploit the Submitted Content on the Site to sublicense it to Skill Providers and Users for these purposes directly or through third parties. Notwithstanding the foregoing, You have the right to remove all or any portion of Your Submitted Content from the Site at any time. Removal of Your Submitted Content will terminate the foregoing license and rights sixty (60) days after such removal as to new uses, provided, however, that any rights given to Users prior to that time will continue in accordance with the terms granted to such Users.
				%br

			%p{ :style => "font-size: 15px" }
				PREVALEARN RESPECTS ALL COPYRIGHT, PRIVACY, DEFAMATION AND OTHER LAWS RELATING TO CONTENT AND INFORMATION AND WILL NOT TOLERATE VIOLATION OF SUCH LAWS. NOTWITHSTANDING THE FOREGOING, PREVALEARN DOES NOT SCREEN THE SUBMITTED CONTENT AND ALL USE OF THE SUBMITTED CONTENT BY YOU IS AT YOUR OWN RISK AND PREVALEARN SHALL HAVE NO LIABILITY FOR SUCH USE. IN PARTICULAR, NO REVIEW OR POSTING OR APPEARANCE OF THE SUBMITTED CONTENT ON THE SITE OR THROUGH THE PRODUCTS IS INTENDED TO ACT AS AN ENDORSEMENT OR REPRESENTATION THAT ANY SUBMITTED CONTENT IS FREE OF VIOLATION OF ANY COPYRIGHT, PRIVACY OR OTHER LAWS OR WILL SUIT A PARTICULAR PURPOSE OR BE ACCURATE OR USEFUL. If You believe that Submitted Content of Yours violates any law or regulation or is inaccurate or poses any risk whatsoever to a third party it is Your responsibility to take steps necessary in correcting the situation. If You believe that Submitted Content of a third party or any Prevalearn Content violates any laws or regulations, including, without limitation, any copyright laws, You should report it to Prevalearn via contact@prevalearn.com.
				%br

			%p{ :style => "font-size: 15px" }
				All rights not expressly granted in these Terms are retained by the Content owners and these Terms do not grant any implied licenses.
				%br

			%h3
				%strong 10. Trademarks.
			%br

			%p{ :style => "font-size: 15px" }
				The trademarks, service marks, and logos (the "Trademarks") used and displayed on the Site, in the Products or in any Prevalearn Content are Our registered or unregistered Trademarks or of Our suppliers or third parties and are protected pursuant to Singapore and to foreign trademark laws. All rights are reserved and You may not alter or obscure the Trademarks, or link to them without Our prior approval.
				%br

			%h3
				%strong 11. Warranty Disclaimer and Limitation of Liability.
			%br

			%p{ :style => "font-size: 15px" }
				YOUR USE OF THIS SITE IS AT YOUR SOLE RISK. THE PRODUCTS, SITE, PREVALEARN CONTENT, SUBMITTED CONTENT, LESSONS, AND ANY OTHER MATERIALS MADE AVAILABLE ON OR THROUGH THE SITE OR THE PRODUCTS ARE PROVIDED "AS IS," WITHOUT ANY WARRANTIES OF ANY KIND AND, TO THE FULLEST EXTENT PERMISSIBLE UNDER APPLICABLE LAW, PREVALEARN HEREBY DISCLAIMS ALL SUCH WARRANTIES, EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, ACCURACY, FREEDOM FROM ERRORS, SUITABILITY OF CONTENT, OR AVAILABILITY. PREVALEARN DOES NOT WARRANT THAT THIS SITE, ITS SERVERS, OR E-MAIL SENT FROM PREVALEARN.COM ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. PREVALEARN WILL NOT BE LIABLE FOR ANY DAMAGES OF ANY KIND ARISING FROM THE USE OF THIS SITE, INCLUDING, BUT NOT LIMITED TO DIRECT, INDIRECT, INCIDENTAL, PUNITIVE, AND CONSEQUENTIAL DAMAGES.
				%br

			%h3
				%strong 12. Indemnification.
			%br

			%p{ :style => "font-size: 15px" }
				You hereby indemnify, defend and hold harmless to Prevalearn, and its affiliates, officers, directors, agents, partners, employees, licensors, representatives and third party providers from and against all reasonably foreseeable losses, expenses, damages, costs, claims and demands, including reasonable attorneys' fees and related costs and expenses, due to or arising out of Your breach of any representation or warranty hereunder. We reserve the right, at Our own expense, to assume the exclusive defense and control of any matter otherwise subject to indemnification by You under this Section 13, and in such case, You agree to fully cooperate as reasonably required with such defense and in asserting any available defenses.
				%br

			%h3
				%strong 13. Termination.
			%br

			%p{ :style => "font-size: 15px" }
				We may terminate Your use of the Site immediately without notice for any breach by You of these Terms or any of Our applicable policies, as posted on the Site from time to time. We may discontinue offering any Product, Lesson, or Content at any time (which will terminate Your right to offer these Lessons if You are a Skill Provider). You may terminate Your use of the Site at any time, either by ceasing to access them, or by contacting us at support@prevalearn.com. We have no obligation to retain any of Your Account or Submitted Content for any period of time beyond what may be required by applicable law. Upon termination, You must cease all use of the Site and Contents.
				%br

			%h3
				%strong 14. Electronic Notices.
			%br

			%p{ :style => "font-size: 15px" }
				By using the Products or communicating with Prevalearn, You agree that Prevalearn may communicate with You electronically regarding security, privacy, and administrative issues relating to Your use of the Site or these Terms. If Prevalearn learns of a security system's breach, Prevalearn may attempt to notify You electronically by posting a notice on the Products or sending an email to You. You may have a legal right to receive this notice in writing. To receive free written notice of a security breach (or to withdraw Your consent from receiving electronic notice), please write to Prevalearn at support@prevalearn.com.
				%br

			%h3
				%strong 15. Miscellaneous.
			%br

			%ol{ :style => "font-size: 15px" }
				%li
					Entire Agreement. These Terms and any policies applicable to You posted on the Site constitute the entire agreement between the parties with respect to the subject matter hereof, and supersede all previous written or oral agreements between the parties with respect to such subject matter.

				%li
					Severability. If any provision of these Terms is found to be illegal, void or unenforceable, then that provision shall be deemed severable from these Terms and shall not affect the validity and enforceability of any remaining provisions of these Terms.

				%li
					Waiver. A provision of these Terms may be waived only by a written instrument executed by the party entitled to the benefit of such provision. The failure of Prevalearn to exercise or enforce any right or provision of these Terms will not constitute a waiver of such right or provision.

				%li
					Notice. Any notice or other communication to be given hereunder will be in writing and given by facsimile, postpaid registered or certified mail return receipt requested, or electronic mail.

				%li
					No Agency. Nothing in these Terms shall be construed as making either party the partner, joint venture, agent, legal representative, employer, contractor or employee of the other. Neither Prevalearn nor any other party to this Agreement shall have, or hold itself out to any third party as having, any authority to make any statements, representations or commitments of any kind, or to take any action that shall be binding on the other except as provided for herein or authorized in writing by the party to be bound.

				%li
					These Terms and Your use of the Site and the Products shall be governed by the substantive laws of Singapore, without reference to its choice or conflicts of law principles.				