= render "devise/shared/title"
.row
	.col-md-4.col-md-offset-4
		.well{ :style => "text-align: justified;" }
			%h2{ :style => "margin-top: -10px;" } Resend confirmation instructions
			= flash_messages layout_flash: false
			= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
				= f.error_notification
				= f.full_error :confirmation_token
				.form-inputs
					%label Email *
					= f.input :email, required: true, autofocus: true, input_html: { value: current_user.email }, label: false
				.form-actions.text-center
					= f.button :submit, "Resend confirmation instructions", class: 'btn btn-success'
			%br
			.text-center
				= render "devise/shared/links"
