= render "devise/shared/title"
.row
	.col-md-4.col-md-offset-4
		.well{ :style => "text-align: justified;" }
			%h2{ :style => "margin-top: -10px;" } Register
			= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
				= f.error_notification
				.form-inputs
					%label Email *
					= f.input :email, required: true, autofocus: true, label: false
					%label Password *
					= f.input :password, required: true, hint: ("<i><small>Please ensure that your password is at least #{@minimum_password_length} characters long</small></i>".html_safe if @minimum_password_length), label: false
					%label Confirm password *
					= f.input :password_confirmation, required: true, label: false
				.form-actions.text-center
					.p
						= "By clicking Join now, you agree to Prevalearn's #{link_to 'User Agreement', '#'}, #{link_to 'Privacy Policy', '#'}, and #{link_to 'Cookie Policy', '#'}.".html_safe
					
					= f.button :submit, "Join now", class: 'btn btn-success'
			%br
			.text-center
				= render "devise/shared/links"
