%div.container
	%div.row
		%div#category-header.col-sm-12.text-center
			%h1
				%strong
					= "#{@query}&nbsp;".html_safe

			%div.marketplace_sub_category
				%ul
					-# - @subcategories.each do |subcategory|
					-# 	%li
					-# 		= link_to(subcategory.name, subcategory)

	%div.row
		%div.col-sm-12.col-lg-12
			= render "shared/search_form"

	= render "shared/listings"
