<div class="modal fade" id="accept-booking-confirmation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Acceptance of Booking</h2>
      </div>

      <div class="modal-body">
        <%= form_tag(accept_booking_path(@chat.booking_id), method: 'patch', remote: true) do %>
          <b>By clicking “Accept Booking”, you hereby accept the booking of skill seeker and him/her into your class. If you have included payment details, please proceed by clicking on "Send Payment Instructions." If you need to edit them, you can proceed to <%= link_to 'Account Settings', dashboard_path %>  under dashboard to do so.</b>

          <br />
          <br />
          <%= submit_tag 'Accept Booking', class: 'btn btn-success', style: 'margin-left: 38%; margin-right: 38%; width: 24%;' %> 
        <% end %>
      </div>
    </div>
  </div>
</div>