<div class="modal fade" id="ls-<%= ls.id %>-requests-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 34em;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= image_tag(current_user.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive pull-left', id: 'next-sesson-modal-avatar') %>

        <h4 class="modal-title pull-left" style="margin-top: 10px;"><%= ls.lesson.title.titleize %>
          <br />
          By <%= link_to current_user.display_name || 'Anonymous', '#' %>
        </h4>
      </div>

      <div class="modal-body">
        <h4>Manage Student</h4>
       
        <div class="col-lg-4">
          <div class='well' style="padding-top: 5px !important;">
            <%= image_tag('lesson_profile/salmon_banner.png', class: 'img-responsive green_banner') %>
            <p id="sesson_price"><%= ls.rate %>$</p>
            <br />
            <br />
            <br />

            <%= image_tag('Calendar-Empty.png', style: 'height: 106px;') %>
            <h3 style="margin-top: -83%; font-size: 1.5em; text-align: center; margin-left: auto; margin-right: auto;"><%= ls.lesson_date.strftime("%b") %></h3>
            <h2 style="margin-top: 15%; font-size: 1em; text-align: center; margin-left: auto; margin-right: auto;"><%= ls.lesson_date.strftime("%d") %></h2>
            <p style="margin-top: -6%; font-size: 1em; text-align: center; margin-left: auto; margin-right: auto;"><%= ls.lesson_date.strftime("%A") %></p>

            <br />
            <br />
            <p><span><%= image_tag('Time-Icon.png', style: 'height: 20px;') %></span> <%= "#{ls.from_time.strftime('%H:%M')} - #{ls.to_time.strftime('%H:%M')}" %></p>
            <p><span><%= image_tag('Location-Icon.png', style: 'height: 20px;') %></span> <%= inst_address.present? ? inst_address : "N/A" %></p>
          </div>
        </div>
        <div class="col-lg-8">

        <%= form_tag(perform_action_on_bookings_path(ls.id), id: "ls-#{ls.id}-requests", method: 'put') do %>
            <input type="checkbox" name="#" value="#" id ="<%= ls.id %>-all-checkbox">
          <%= select_tag 'bookings[action_to_perform]', options_for_select(manage_booking_options(requests)) %>

            <br />
            <br />

            <%= hidden_field_tag 'bookings[model_to_open]', "ls-#{ls.id}-requests-modal" %>


            <table class="table" style="display: block; height: 13em; overflow-y: scroll;">
              <thead>
                <tr>
                  <th></th>
                  <th>Name</th>
                  <th>Request Date</th>
                  <th>Status</th>
                  <th></th>
                </tr>
                <tbody>
                  <% requests.each_with_index do |request, index| %>
                    <tr>
                      <td><%= check_box_tag "bookings[#{ls.id}][#{index}]", request.id %></td>
                      <td><%= link_to request.student.display_name, student_profile_path(request.student.id), id: "student-#{request.student.id}-info-link" %></td>
                      <td><%= request.created_at.to_date %></td>
                      <td>
                        <% if !request.completed? %>
                          <%= image_tag("#{booking_status_image(request)}.png", style: "height: 25px; #{booking_status_image_margin(request)}", "data-toggle" => "tooltip", "data-placement"=>"top", "title" => status_image_tooltip_message(request)) %>
                        <% else %>
                          <p>Completed</p>
                        <% end %>    
                         
                      </td>
                      <td><%= link_to image_tag('message.png', style: 'height: 25px;'), chat_path(request.chat.try(:id) || 1) %></td>
                    </tr>
                  <% end %>
                </tbody>
              </thead>
            </table>

            <%= submit_tag 'Submit', class: 'btn btn-success', id: "ls-#{ ls.id }-manage-submit", style: 'margin-left: 38%; margin-right: 38%; width: 24%;', disabled: 'disabled' %>

            <script type="text/javascript">
              $(document).ready(function(){

                $('#ls-<%= ls.id %>-requests').on('change', 'input[type="checkbox"]', function() {
                  
                  var allRequestCheckBox = $('#<%= ls.id %>-all-checkbox');
                  var requestCheckboxes = $('input[id^="bookings_<%= ls.id %>_"]');
                  var requestsCount = <%= requests.count %>;
                  
                  if (requestCheckboxes.length > 0) {
                    if (this.checked) {
                      if (this.id === '<%= ls.id %>-all-checkbox') {
                        requestCheckboxes.prop('checked', true);
                      }
                    } else{
                      if (this.id === '<%= ls.id %>-all-checkbox') {
                        requestCheckboxes.prop('checked', false);
                      }
                    }

                    if ($('input[id^="bookings_<%= ls.id %>_"]:checked').length === 0 ){
                      $('#ls-<%= ls.id %>-manage-submit').attr('disabled', 'disabled');
                    }
                    else {
                      $('#ls-<%= ls.id %>-manage-submit').removeAttr('disabled');
                    }

                    if ($('input[id^="bookings_<%= ls.id %>_"]:checked').length !== requestsCount){
                      allRequestCheckBox.prop('checked', false);
                    }
                    else{
                      allRequestCheckBox.prop('checked', true)
                    }
                  }
                })    
              })
            </script>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>