<div class="modal fade" id="confirm-payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Acceptance of Booking</h2>
      </div>

      <div class="modal-body">
        <b> By clicking “Confirm Payment,” you hereby confirm that you have received payment from the skill seeker, and have accepted him/her into your class. Should there be any cancellations or further information, please inform the skill seeker at the earliest possible moment.</b>
        <br />
        <br />
        <b> A confirmation email with all the details of the lesson will be sent to the skill seeker.</b>
        <br />
        <br />
        <%= link_to 'Confirm Payment', confirm_payment_url(@chat.booking_id), class: 'btn btn-success', style: 'margin-left: 38%; margin-right: 38%; width: 24%;' %> 
      </div>
    </div>
  </div>
</div>