$('.modal-body').html("<b>Thank you for using Prevalearn! We wish you a pleasant teaching journey ahead.</b><br /><br /><b>Should you require additional information on the skill seeker, please navigate to Dashboard > Lesson(s) Management > My Lessons.</b>");