<style type="text/css">
  img#chat-show-instructor{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 140px;
    height: 115px;
    margin-right: 15px;
    margin-bottom: 15px;
    position: relative;
    display: block;
    border: solid 2px green;
    padding: .4%;
    background-color: white;
  }
</style>
<%= render 'shared/search_header' %>
<%= render 'shared/dash_header' %>
<div class="row">
  <%= render "shared/side_menu" %>
  <div class="col-md-9">
    <div class="row">
      <% if @bookings.present? %>
        <% @bookings.keys.in_groups_of(3, false).each do |bookings_group| %>
          <% bookings_group.sort{|ls1, ls2| ls1.lesson_date <=> ls2.lesson_date }.each_with_index do |ls, index| %>
            <div class = 'col-lg-6'>
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="col-lg-2">
                    <%= link_to image_tag('message.png', style: 'height: 40px;'), chat_path(@bookings[ls].last.chat.try(:id)) %>   
                  </div>
                  <div class="col-lg-10">
                    <h3 style="margin-top: 6px;"><%= ls.lesson.title %></h3>
                  </div>
                  <br />
                  <br />
                  <br />
                  <div class="col-lg-5">
                    <%= image_tag(@bookings[ls].last.instructor.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive pull-left', id: 'chat-show-instructor') %>

                    <b style="color:  #337ab7;"><center><%= @bookings[ls].last.instructor.display_name %></center></b>
                  </div>
                  <div class="col-lg-7">
                    <b><center>Accepted Date:</center></b>
                    <b style="color:  #337ab7;"><center><%= @bookings[ls].last.created_at.strftime('%d %b, %Y') %></center></b>
                    <br />

                    <b><center>Status:</center></b>
                    <b style="color:  #337ab7;"><center><%= @bookings[ls].last.status.humanize %></center></b>
                  

                  </div>
                  <br />

                  <div class="col-lg-12">
                    <br />
                    <center><%= link_to 'Cancel Booking', cancel_booking_path(@bookings[ls].last.id), method: :delete, data: { confirm: 'Are you sure you want to cancel the booking?' }, class: 'btn btn-success accept-payment-button' %></center>
                </div>
              </div>
            </div>
          <% end %>
          <% if bookings_group.size < 3 %>
            <div class="col-lg-<%= 12 - (bookings_group.size * 6) %>"></div>
          <% end %>    
        <% end %>
      <% end %>    
    </div>
  </div>
</div>
