<style type="text/css">
  .banner-on-bm{
    margin: -5% 0 0 -10%;
    width: 38%;
  }

  .lesson-title{
    text-align: center;
  }
  .empty-calender{
    height: 106px;
    margin-top: 11%;
    margin-left: 23%;
    margin-right: 23%;
  }
  .empty-calender:hover{
    cursor: pointer;
  }

  .ls-month{
    margin-top: -45%;
    font-size: 1.5em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .ls-date{
    margin-top: 7%;
    font-size: 1.8em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .ls-day{
    margin-top: -4%;
    font-size: 1.3em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  img#student-avatar{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 15px;
    position: relative;
    display: block;
    border: solid 2px green;
    padding: .4%;
    background-color: white;
  }
</style>

<%= render 'shared/search_header' %>
<%= render 'shared/dash_header' %>
<div class="row">
  <%= render "shared/side_menu" %>
  <div class="col-md-9">
    <div class="row">
      <% if @bookings.present? %>
        <% @bookings.keys.in_groups_of(3, false).each do |bookings_group| %>
          <% bookings_group.sort{|ls1, ls2| ls1.lesson_date <=> ls2.lesson_date }.each_with_index do |ls, index| %>
            <div class = 'col-lg-4'>
              <div class='well' style = '<%= @bookings[ls].select{|ls| ls.pending?}.empty? ? "background-color: #A9A9A9 !important;" : "" %>'>
                <h3 class="lesson-title"><%= ls.lesson.title %></h3>
                <%= image_tag('Calendar-Empty.png', class: "empty-calender ls-#{index}") %>
                <!-- <div><%#= @bookings[ls].count %></div> -->
                <h3 class="ls-month"><%= ls.lesson_date.strftime("%b") %></h3>
                <h2 class="ls-date"><%= ls.lesson_date.strftime("%d") %></h2>
                <p class="ls-day"><%= ls.lesson_date.strftime("%A") %></p>

                <br />
                <br />
                <p><span><%= image_tag('Time-Icon.png', style: 'height: 20px;') %></span> <%= "#{ls.from_time.strftime('%H:%M')} - #{ls.to_time.strftime('%H:%M')}" %></p>
                <p><span><%= image_tag('Location-Icon.png', style: 'height: 20px;') %></span> <%= inst_address.present? ? inst_address : "N/A" %></p>
                <br />
                <center><p><b>
                <% if @bookings[ls].select{|ls| ls.pending?}.present? %>
                  You have <span style= "color: red;"><%= @bookings[ls].select{|ls| ls.pending?}.size %></span> pending request
                <% elsif @bookings[ls].select{|ls| ls.completed?}.size > 0 %>
                  You have <span style= "color: red;"><%= @bookings[ls].select{|ls| ls.completed?}.size %></span> completed request
                <% else %>
                  You have <span style= "color: red;">0</span> pending request
                <% end %>  
                </b></p></center>
              </div>
            </div>

            <script type="text/javascript">
              $('.ls-<%= index %>').on('click', function(){
                $('#ls-<%= ls.id %>-requests-modal').modal('show');
              });
            </script>
            <%= render partial: 'bookings/bookings_requests', locals: {ls: ls, requests: @bookings[ls]} %>
          <% end %>
          <% if bookings_group.size < 3 %>
            <div class="col-lg-<%= 12 - (bookings_group.size * 4) %>"></div>
          <% end %>    
        <% end %>
      <% end %>    
    </div>
  </div>
</div>
<% if @model_to_open.present? %>
  <script type="text/javascript">
    $('#<%= @model_to_open %>').modal('show');
  </script>
<% end %>    