<%= render 'shared/search_header' %>
<%= render 'shared/dash_header' %>
<div class="row">
  <%= render "shared/side_menu" %>
  <div class="col-md-9">
    <div class="row">
      
      <!-- My lessons -->
      <div class="col-lg-12"><h3 style="color: grey;">My Lesson(s)</h3></div>
      <% @my_lessons.each do |lesson, bookings| %>
        <div class="col-lg-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h1><center><%= link_to lesson.title, lesson_bookings_path(lesson.id), style: 'text-decoration: none;' %> <span style="color: red;">(<%= pending_bookings(bookings).size %>)</span></center></h1>
              <p><center>Date created: <%= lesson.created_at.strftime('%d %b, %Y') %></center></p>
            </div>
          </div>
        </div>
      <% end %>
      <hr>

      <!-- Enrolled lessons -->
      <%! if current_user.user_type != 'ORGANIZATION' %>
        <div class="col-lg-12"><h3 style="color: grey;">Enrolled Lesson(s)</h3></div>
        <% @enrolled_lessons.each do |lesson, bookings| %>
          <div class="col-lg-6">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1><center><%= link_to lesson.title, enrolled_lesson_bookings_path(lesson.id), style: 'text-decoration: none;' %></span></center></h1>
                <p><center>Date created: <%= lesson.created_at.strftime('%d %b, %Y') %></center></p>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>  
    </div>
  </div>
</div>        
      