:css
  img#student-avatar{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-right: 15px;
    position: relative;
    display: block;
    border: solid 2px green;
    padding: .4%;
    background-color: white;
  }
= render 'shared/search_header'
= render 'shared/dash_header'
.row
  = render "shared/side_menu"
  .col-lg-9
    
    %br
    %div{class: "col-lg-4"}
      %h4 Manage Student
      %br
      = image_tag(@student.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive', id: 'student-avatar')
    %div{class: "col-lg-8"}
      %div{class: "col-lg-4"} 
        %b Full Name
      %div{class: "col-lg-8"} 
        = @student.display_name 
      %br 
      %br
      %div{class: "col-lg-4"} 
        %b Gender
      %div{class: "col-lg-8"} 
        = @student.gender 
      %br 
      %br   
      %div{class: "col-lg-4"} 
        %b Email
      %div{class: "col-lg-8"} 
        = @student.email 
      %br 
      %br     
      %div{class: "col-lg-4"} 
        %b Date of Birth
      %div{class: "col-lg-8"} 
        = @student.date_of_birth 
      %br 
      %br   
      %div{class: "col-lg-4"} 
        %b Address
      %div{class: "col-lg-8"} 
        = @student.profile.try(:profilable).try(:address)
      %br
      %br
    %br  
    = link_to 'Back', manage_bookings_path, class: 'btn btn-success', style: 'margin-left: 40%; margin-right: 40%; width: 20%;'  