= render "devise/shared/title"
.row
	.col-md-4.col-md-offset-4
		.well{ :style => "text-align: justified;" }
			%h2{ :style => "margin-top: -10px;" } Change your password
			= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
				= f.error_notification
				= f.input :reset_password_token, as: :hidden
				= f.full_error :reset_password_token
				.form-inputs
					%label New password *
					= f.input :password, label: false, required: true, autofocus: true, hint: ("<i>Please ensure that your password is at least #{@minimum_password_length} characters long</i>".html_safe if @minimum_password_length)
					%label Confirm your new password *
					= f.input :password_confirmation, label: false, required: true
				.form-actions.text-center
					= f.button :submit, "Change my password", class: 'btn btn-success'
			%br
			.text-center
				= render "devise/shared/links"
