= render "devise/shared/title"
.row
	.col-md-4.col-md-offset-4
		.well{ :style => "text-align: justified;" }
			%h2{ :style => "margin-top: -10px;" } Forgot your password?
			= flash_messages layout_flash: false
			= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
				= f.error_notification
				.form-inputs
					%label Email *
					= f.input :email, required: true, autofocus: true, label: false
				.form-actions.text-center
					= f.button :submit, "Reset password", class: 'btn btn-success'
			%br
			.text-center
				= render "devise/shared/links"
