.row
	.col-md-12
		%h3
			%strong Account Dashboard
		%hr
.row
	.col-md-12
		%h4{ :style => "margin-top: 0 !important;" }
			%strong
				= "Welcome back, #{current_user.try(:profile).try(:profilable).try(:name)}" if current_user.try(:profile).try(:profilable_type).eql?("Organization")
				= "Welcome back, #{current_user.try(:profile).try(:profilable).try(:first_name)}" if current_user.try(:profile).try(:profilable_type).eql?("Individual")
			%br
			%br
			%small
				= "Account Type: #{current_user.try(:profile).try(:profilable_type)} | Status: #{confirmation_status current_user}".html_safe

/ TODO: MESSAGE AND MESSAGE BOARD
