%footer.footer
  .container-footer
    %p
      %ul.list-inline.pull-left{ :style => "margin: 10px 15px 10px 0"}
        %li
          = link_to "#", style: "color: #3b5998" do
            = fa_icon "facebook-official 2x"
        %li
          = link_to "#", style: "color: #1da1f2" do
            = fa_icon "twitter-square 2x"
        %li
          = link_to "#", style: "color: #000000" do
            = fa_icon "instagram 2x"
      %ul.list-unstyled
        %li
          %ul.list-inline
            %li.about-menu{ :style => "padding-left: 0;"}
              = link_to "Privacy&nbsp;&nbsp;".html_safe, privacy_path, style: "color: #000"
            %li
              = link_to "Terms & Conditions", terms_path, style: "color: #000"
        %li.text-muted{ :style => "margin-top: 5px" }
          = "Prevalearn - © #{Date.current.strftime("%Y")}".html_safe