.row.course_row
	%section.col-sm-12
		- @lessons.each_slice(3) do |three_lessons|
			.row#tile_row
				- three_lessons.each do |lesson|
					- course_pic = lesson.lesson_galleries.first.nil? ? "default.png" : lesson.lesson_galleries.first.photo.url
					.each_lesson.col-md-4.col-sm-6.col-xs-12
						.pic_div
							= image_tag(course_pic, alt: "Course Pic", class: :lesson_pic)
							.lesson_banner
								= image_tag("marketplace/banner.png")
								.center_text
									- prices = lesson.price_range
									- if prices[:lowest]
										- if prices[:multiple_rates]
											%p.range_price
												From #{number_to_currency(prices[:lowest], precision: 0)}
										- else
											%p.single_price= number_to_currency(prices[:lowest], precision: 2)


							=image_tag(lesson.user.profile.avatar.url || "avatar.png", class: :tutor_pic, alt: "Instructor Picture")
							.course_info
								.instructor_name.text_center
									%p= lesson.user.display_name

								.instructor_ed.text_center
									%p=lesson.show_school

							-# <!-- [enter tree work here. if @rating == 1 display tree1.jpg] -->
							.course_rating.text_center
								- average_reviews(lesson).to_i.times do
									= image_tag("marketplace/colored_tree.png", class: 'img-responsive img-circle review_trees')
								- (5 - average_reviews(lesson).to_i).times do
									= image_tag("marketplace/blank_tree.png", class: 'img-responsive img-circle review_trees')
								%p
									%strong (#{lesson.reviews.count})

							%a{ href: "/lessons/#{ lesson.id }" }
								.course_name
									%p=lesson.title
							.course_description
								%hr
								%p
									=truncate(lesson.class_description, length: 123)
