<div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="margin-top: 12em;">
      <div class="modal-body">
        <div>
          <center><%= image_tag 'loading.gif' %> <h1>Processing please wait</h1></center>
        </div>          
      </div>
    </div>
  </div>
</div>

<!-- Thank you for alerting us. We are sorry to hear of your bad experience and will look into the matter as soon as possible. -->