.modal.fade{ :id => "sharedModal", :tabindex => "-1", :role => "dialog" }
  .modal-dialog{ :role => "document" }
    .modal-content
      .modal-header
        %button{ :type => "button", :class => "close", :data => { :dismiss => "modal" } }
          %span{ :aria => { :hidden => "true" } }
            &times;
        %h4.modal-title{ :id => "sharedModalLabel" }
          Title
      .modal-body
        = "..."