= simple_form_for(:search, html: { id: :search, class: "filter_form search_simple_form", method: :get }) do |f|
  .control-group
  = f.error_notification

  .search-form-inputs
    = f.input :code_lat, :as => :hidden, :input_html => { id: "code_lat", value: @latitude }
    = f.input :code_lng, :as => :hidden, :input_html => { id: "code_lng", value: @longitude }
    = f.input :browse_from, class: 'form-control', label: "BROWSE FROM", input_html: {id: "location", value: @location }, include_blank: false, required: false
    = f.input :range_from, class: 'form-control', label: "COURSE DISTANCE", input_html: {value: @range}, placeholder: "Distance in KM", required: false
    #rates_range_inputs
      = f.input :rates_from, class: 'form-control', id: 'rates_range_label', label: "RATES", placeholder:"S$", input_html: {value: @lowest}, required: false
      %p#rates_to to
      = f.input :rates_to, class: 'form-control',label: false, placeholder:"S$",input_html: {value: @highest}, required: false
    = f.input :sort_by, class: 'form-control',label: "SORT BY", collection: {"Last Login" => :last_login, "Nearest to Me" => :nearest, "Lowest Price" => :lowest_price, "Highest Price" => :highest_price}, include_blank: false, selected: @order, required: false
    #search_input
      = f.input :search, label: "SEARCH", id: "search_input", input_html: { class: ['ui-autocomplete-input'], value: @query}, required: false
      .form-actions
      = f.button :button, class: "form-filter-button" do
        %span.glyphicon.glyphicon-search



/-if @lesson_specs
/  %ul{:id => "lessons"}
/    -@lesson_specs.each do |lesson_spec|
/      %li{:address => lesson_spec["class_location"]}
/        =lesson_spec["class_location"]


/  -# =@lesson_spec.first["class_location"]
