%nav.navbar.navbar-default.navbar-fixed-top
	.container
		.navbar-header
			%button{ :type => "button", :class => "navbar-toggle collapsed", :data => { :toggle => "collapse", :target => "header-menu" } }
				%span.sr-only Toggle navigation
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			= link_to root_path, class: "navbar-brand" do
				= image_tag('logo.png', size: "120x30")
		.collapse.navbar-collapse#header-menu
			%ul.nav.navbar-nav
				%li.dropdown.dropdown-large
					= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
						Categories
						%span.caret
					%ul.dropdown-menu.dropdown-menu-large.row#large
						- Category.order("name ASC").each_slice(5).with_index do |categories, index|
							- if index.eql?(0)
								%li.col-sm-2
									%ul
										- categories.each do |c|
											%li
												= link_to category_path(c) do
													= image_tag("categories/#{c.name.downcase.gsub(' ', '-')}.png", size: "20x20")
													= c.name
							- if index.eql?(1)
								%li.col-sm-2
									%ul
										- categories.each do |c|
											%li
												= link_to category_path(c) do
													= image_tag("categories/#{c.name.downcase.gsub(' ', '-')}.png", size: "20x20")
													= c.name
							- if index.eql?(2)
								%li.col-sm-3
									%ul
										- categories.each do |c|
											%li
												= link_to category_path(c) do
													= image_tag("categories/#{c.name.downcase.gsub(' ', '-')}.png", size: "20x20")
													= c.name
							- if index.eql?(3)
								%li.col-sm-2
									%ul
										- categories.each do |c|
											%li
												= link_to category_path(c) do
													= image_tag("categories/#{c.name.downcase.gsub(' ', '-')}.png", size: "20x20")
													= c.name

							- if index.eql?(4)
								%li.col-sm-2
									%ul
										- categories.each do |c|
											%li
												= link_to category_path(c) do
													= image_tag("categories/#{c.name.downcase.gsub(' ', '-')}.png", size: "20x20")
													= c.name
			.row.header_search_input.text-center#header_search
				%form{ class: "form-inline", action: :search, method: :get, id: :search }
					.form-group.header_search_input
						.input-group{ style: "width: 40vh !important;" }
							.input-group-addon
								= fa_icon "search"
							%input{ type: "text", class: "form-control input-lg ui-autocomplete-input", name: 'search[search]', placeholder: "Piano, Ballet, Yoga..." }
			%ul.nav.navbar-nav.navbar-right
				%li= link_to 'Teach With Us', teach_with_us_path
				%li.dropdown
					= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
						About
						%span.caret
					%ul.dropdown-menu.text-center
						%li= link_to 'About Us', about_us_path
						%li= link_to 'FAQ', faq_path
						%li= link_to 'Contact Us', contact_us_path
				- if user_signed_in? && current_user.try(:profile).try(:id).present?
					%li.dropdown
						= link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
							= current_user.email
							%span.caret
						%ul.dropdown-menu.text-center
							%li
								= link_to dashboard_path do
									= fa_icon 'user', text: 'Dashboard'
							%li
								= link_to chats_path do
									= fa_icon 'envelope-o', text: 'Inbox'
							%li.divider{ :role => "separator" }
							%li
								= link_to destroy_user_session_path, method: :delete do
									= fa_icon 'sign-out', text: 'Log Out'
				- unless user_signed_in?
					= link_to 'Log In', new_user_session_path, class: "btn btn-default navbar-btn navbar-right"
