.col-md-3
	%ul.nav.nav-pills.nav-stacked.well
		%li
			= link_to dashboard_path do
				= fa_icon 'cog', text: "&nbsp;&nbsp;Account Settings".html_safe
		%li
			= link_to lessons_path do
				= fa_icon 'user-plus', text: "&nbsp;&nbsp;List a Lesson".html_safe
		%li
			= link_to shortlisted_lessons_path do
				= fa_icon 'heart', text: "&nbsp;&nbsp;My Shortlist".html_safe
		%li
			= link_to manage_bookings_path do
				= fa_icon 'th', text: "&nbsp;&nbsp;Lesson Management".html_safe
		%li
			= link_to reviews_path do
				= fa_icon 'check-circle-o', text: "&nbsp;&nbsp;My Review".html_safe
