- (@messages || messages).each do |message|
  %div{class: "#{message_type(message)}-message chat-message", data: {message_id: message.id}}
    .col-md-12
      %p{class: "#{message_type(message)}-message-time"}
        = message.created_at.strftime("%d %b %Y %r")
    %div{class: "#{message_type(message)}-message-row"}
      - if message_type(message) == 'received'
        = image_tag(message_user_image(message_type(message)), class: 'img-responsive pull-left', id: 'chat-show-from')                
        %p
          = message.content
          = image_tag(message.attachment.url(:medium), class: 'img-responsive') if message.attachment.present?
      - else
        = image_tag(message_user_image(message_type(message)), class: 'img-responsive pull-right', id: 'chat-show-to')
        %p{class: 'pull-right'}
          = message.content
          = image_tag(message.attachment.url(:medium), class: 'img-responsive') if message.attachment.present?