- if @chat.booking.present?
  - if @chat.lesson.user == current_user 
    - if @chat.booking.pending?
      = render partial: 'bookings/accept_booking'
      = link_to 'Accept Request', '#', id: 'accept-booking-button', class: 'btn btn-success show-button'
    - elsif @chat.booking.accepted?
      = link_to 'Send Payment Instructions', send_payment_instructions_path(@chat.booking.id), class: 'btn btn-success show-button', id: 'send-pay-inst'
    - elsif @chat.booking.payment_instructions_sent?
      = render partial: 'bookings/confirm_payment'
      = link_to 'Confirm Payment', '#', class: 'btn btn-success show-button', id: 'confirm-payment-button' 
    %br
    %br
  
  - else
    - if @chat.booking.confirmed? || @chat.booking.accepted?
      = link_to 'Cancel Booking', cancel_booking_path(@chat.booking.id), method: :delete, data: { confirm: 'Are you sure you want to cancel the booking?' }, class: 'btn btn-success accept-payment-button show-button'
      %br
      %br
    - if !['pending', 'declined', 'review_left'].include?(@chat.booking.status)  
      = link_to 'Leave a review', '#', id: 'leave-review-modal-link', class: 'btn btn-warning leave-review-button show-button'
      = render partial: 'reviews/leave_review_modal'
- else
  = render partial: 'lessons/next_sessons_modal'
  = link_to 'Request for Class', '#', id: 'request-booking-link', class: 'btn btn-success show-button'

  %br
  %br