= render 'shared/search_header'

%div.container
  %br
  
  = form_tag(perform_action_on_chats_path, method: 'post', id: 'inbox-form') do
    %input{type: "checkbox", name: "#", value: "#", id: 'all-chats'}
    = image_tag('dustbin.png', style: 'height: 25px; margin-bottom: 8px;', class: 'delete-chats')

    = hidden_field_tag 'chats[action_to_perform]', ''


    %br
    %br
    = link_to "All Messages (#{@all_chats.size})", chats_path, class: 'btn btn-default'
    = link_to "Skill Learning (#{@ss_chats.size})", chats_path(cut: 'ss') , class: "btn btn-default"
    = link_to "Skill Providing (#{@sp_chats.size})", chats_path(cut: 'sp'), class: "btn btn-default"

    %table.table.table-bordered
      %tbody
        - @chats.each do |chat|
          %tr{ style: "#{chat.is_chat_has_unread_messages? ? '' : 'background-color: #f1f1f1;'}"}
            %td
              = check_box_tag("selected_chats[#{chat.id}]", chat.id)
            %td
              = link_to(image_tag((chat_star_status(chat) ? "yellow-star.png" : "blank-star.png"), style: 'height: 20px; margin-top: 100%;'), toggle_chat_star_path(chat.id))
              
            %td{width: '9%'}
              = image_tag([chat.sender, chat.recipient].select{|m| m != current_user}.first.try(:profile).try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive pull-left', id: 'next-sesson-modal-avatar', style: 'margin-left: 15%;')
            %td{class: 'clickable-row', "data-href"=> chat_url(chat.id), style: 'width: 70%;'}
              %p{style: 'margin: 0px !important; font-size: 17px;'} 
                = [chat.sender, chat.recipient].select{|m| m != current_user}.first.try(:display_name) || "N/A"
              %p{style: "font-size: 25px;"}
                = chat.lesson.title.titleize
            %td{width: '8%'}
              %p{style: 'margin-top:30%; font-size: 17px;'}
                = chat_ls(chat).present? ? "$ #{chat_ls(chat).try(:rate)}" : "N/A"
              
            %td 
              %p{style: 'font-size: 17px; margin-top:30%;'}
                = chat.messages.present? ? time_ago_in_words(chat.messages.last.created_at) + ' ago' : 'N/A'
:javascript
  jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
      window.document.location = $(this).data("href");
    });
    
    $('#inbox-form').on('change', 'input[type="checkbox"]', function() {
                  
      var allChatsCheckBox = $('#all-chats');
      var chatsCheckboxes = $('input[id^="selected_chats"]');
      var chatsCount = #{@chats.size};
      
      if (chatsCheckboxes.length > 0) {
        if (this.checked) {
          if (this.id === 'all-chats') {
            chatsCheckboxes.prop('checked', true);
          }
        } else{
          if (this.id === 'all-chats') {
            chatsCheckboxes.prop('checked', false);
          }
        }

        if ($('input[id^="selected_chats"]:checked').length !== chatsCount){
          allChatsCheckBox.prop('checked', false);
        }
        else{
          allChatsCheckBox.prop('checked', true)
        }
      }
    })

    $('img.delete-chats').on('click', function(){
      if ($('input[id^="selected_chats"]:checked').length > 0){
        $('#chats_action_to_perform').val('delete-chats')
        $('#inbox-form').submit()
      } else{
        alert('Please select atleast one chat');
      }
    })
  });

:css
  .clickable-row:hover{
    cursor: pointer;
  }