= stylesheet_link_tag 'chats'

= render 'shared/search_header'
%div.container.inbox-page
  %br
  .col-md-3
    .panel.panel-default
      .panel-heading 
        = link_to 'Inbox', chats_path
      .panel-body
        = link_to 'Archived Chats', chats_path(archived: true)

    = render partial: 'show_buttons'

  .col-md-9

    .panel.panel-default
      .panel-body.chatbox-panel
        .inbox-header
          = image_tag(chat_title_bar_user.try(:profile).try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive pull-left', id: 'chat-show-instructor')
          %p.org-name
            = chat_title_bar_user.try(:display_name) || "N/A"
          %p.lesson-name            
            = link_to @chat.lesson.title.titleize, lesson_path(@chat.lesson.id)
        .messages-box
          = render partial: 'chat_messages', locals: {messages: @chat.messages}

        .col-lg-12.report-user-bar
          = link_to(image_tag('caution.png', style: 'height: 23px; margin-left: 2px;', class: 'pull-right'), '#', id: 'report-user-link')
          = image_tag('camera.png', style: 'height: 25px;', class: 'pull-right camera-image')
        .send-message-box
          = form_tag(message_path(@chat.id), method: 'post', multipart: true, id: 'new-message-form') do
            = text_field_tag 'message[content]' , '', class: 'new_message_text_area', placeholder: 'Write a message...', autofocus: ''
            
            = hidden_field_tag 'message[sender_id]', current_user.id
            = hidden_field_tag 'message[recipient_id]', other_member_in_chat(@chat).id
            = hidden_field_tag 'message[chat_id]', @chat.id
            = hidden_field_tag 'message[read]', false
            = file_field_tag 'message[attachment]',  accept: 'image/png,image/gif,image/jpeg', style: 'display: none;'

            = submit_tag 'Send', class: 'btn btn-default new-message-send-button', disabled: 'disabled'
= render partial: 'reported_users/report_user_form'
= render partial: 'shared/loading'

:javascript
  $('.send-message-box input[type="text"]').addClass('new_message_text_area');

  $('#request-booking-link').on("click", function(){
    $('#sesson-modal').modal('show')  
  })

  $('#leave-review-modal-link').on("click", function(){
    $('#leave-review-form-modal').modal('show')  
  })

  $('#report-user-link').on('click', function(){
    $('#report-user-form').modal('show')  
  })

  $('#confirm-payment-button').on('click', function(){
    $('#confirm-payment').modal('show')  
  })

  $('#message_attachment').on('change', function(){
    if ($('#message_attachment').val().length != 0){
      $('#loading').modal('show');
      $('#new-message-form').submit();
    }
  })

  $('#message_content').on('keyup', function(){
    if ($('#message_content').val().length == 0){
      $('.new-message-send-button').attr('disabled', 'disabled')
    }
    else{
      $('.new-message-send-button').removeAttr('disabled');

    }
  })

  $('#accept-booking-button').on("click", function(){
    $('#accept-booking-confirmation').modal('show');
  })

  function executeQuery() {
    $.ajax({
      url: '#{ update_chat_box_url }',
      data: {last_message_id: $('.chat-message:last').data('message-id')},
      success: function() {
      }
    });
    setTimeout(executeQuery, 5000);
  }

  setTimeout(executeQuery, 5000);
  $('.camera-image').on('click', function(){
    $('#message_attachment').click();
  })

  $(document).ready(function(){
    if ($(".messages-box").length == 1){
      $(".messages-box")[0].scrollTop = $(".messages-box")[0].scrollHeight;
    }
  })