$('#sharedModal .modal-body').html("<%= escape_javascript(render('awards/form', award: @award)) %>");
$('#sharedModal > .modal-dialog').addClass('modal-sm');
$('#sharedModal').find('h4').text('Edit Award');
$('#sharedModal').modal('show');