%h1 Listing awards

%table
  %thead
    %tr
      %th Name
      %th Year
      %th
      %th
      %th

  %tbody
    - @awards.each do |award|
      %tr
        %td= award.name
        %td= award.year
        %td= link_to 'Show', award
        %td= link_to 'Edit', edit_award_path(award)
        %td= link_to 'Destroy', award, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Award', new_award_path
