<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
          <!-- Indicators -->
          <ol class="carousel-indicators">
            <% images.each_with_index do |lg, index| %>
              <li data-target="#carousel-example-generic" data-slide-to= <%= index %> class="<%= index == 0 ? 'active' : '' %>"></li>
            <% end %>
            <% if images.blank? %>
              <li data-target="#carousel-example-generic" data-slide-to= 0 class="active"></li>
            <% end %>
          </ol>

          <!-- Wrapper for slides -->
          <div class="carousel-inner" role="listbox">
            <% images.each_with_index do |lg, index| %>
              <div class="item <%= index == 0 ? 'active' : '' %>">
                <%= image_tag(lg.photo.url(:medium), id: 'profile_lesson_pic modal_pic', style: 'height: 380px;') %>
              </div>
            <% end %>

            <% if images.blank? %>
              <div class="item active">
                <%= image_tag('default.png', id: 'profile_lesson_pic modal_pic', style: 'height: 380px;') %>
              </div>
            <% end %>
          </div>

          <!-- Controls -->
          <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>