<div class="modal fade" id="inst_address_on_map" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <span class = 'glyphicon glyphicon-map-marker' aria-hidden='true'></span><%= inst_address %>
      </div>
      <div class="modal-body">
        <iframe style="width:80%; height:345px; margin-right:10% !important; margin-left: 10% !important;" src="//www.google.com/maps/embed/v1/place?q=<%= inst_address %>&zoom=17&key=AIzaSyC7ij_TlWtTnlKzbnfry-eczZo06rbU5YI"> </iframe>
        <p class="text_center">  </p>
      </div>
    </div>
  </div>
</div>