.p
	Please provide a title for your new lesson
%br
.p
	= simple_form_for(lesson) do |f|
		= f.input :title

		.pull-right
			%button{ :type => 'button', :class => 'btn btn-default btn-sm', :data => { :dismiss => 'modal'} }
				Cancel
			= f.button :submit, "Proceed", class: 'btn btn-primary btn-sm'
		%br
		%br