.row
	.col-md-12
		%ul.nav.nav-pills
			%li{ :class => "#{ action_name.eql?('basic_info') ? 'active' : '' }", :role => "presentation" }
				= link_to basic_info_lesson_url(@lesson) do
					%strong Basic Information
			%li{  :class => "#{ action_name.eql?('lesson_info') ? 'active' : '' }", :role => "presentation" }
				= link_to lesson_info_lesson_url(@lesson) do
					%strong Lesson Information
			%li{  :class => "#{ action_name.eql?('work_and_education') ? 'active' : '' }", :role => "presentation" }
				= link_to work_and_education_lesson_path(@lesson) do
					%strong Work and Education
			%li{  :class => "#{ action_name.eql?('awards') ? 'active' : '' }", :role => "presentation" }
				= link_to awards_lesson_path(@lesson) do
					%strong Awards
			%li{  :class => "#{ action_name.eql?('rates') ? 'active' : '' }", :role => "presentation" }
				= link_to rates_lesson_path(@lesson) do
					%strong Rates
			%li{  :class => "#{ action_name.eql?('other_settings') ? 'active' : '' }", :role => "presentation" }
				= link_to other_settings_lesson_path(@lesson) do
					%strong Other Settings
