.row
	.col-md-4
		= fa_icon 'chevron-right', class: 'pull-right lower'
		= f.association :category, label: false, collection: Category.order('name ASC'), input_html: { class: 'category'}
	.col-md-4
		= fa_icon 'chevron-right', class: 'pull-right lower'
		= f.association :sub_category, label: false, collection: SubCategory.order('name ASC'), input_html: { class: 'sub_category'}
	.col-md-4
		= f.association :sub_sub_category, label: false, collection: SubSubCategory.order('name ASC'), input_html: { class: 'sub_sub_category'}
	= f.input :_destroy, as: :hidden, input_html: { class: 'destroy_nested' }
	= link_to '#', class: 'remove_fields lc_close' do
		= fa_icon 'close'
