<div class="lesson_price col-md-4 col-sm-12">
  <p><%= display_lesson_price(@lesson) %></p>
</div>

<div class="instructor_profile col-md-4">
  <%= image_tag('lesson_profile/salmon_banner.png', class: 'img-responsive salmon_banner') %>
  <%= image_tag(@lesson.user.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive', id: 'instructor_pic') %>
  <p id="taught_by">Taught By:</p>
  <h3 class="text_center"><%= @instructor.display_name || "Anonymous" %></h3>
  <p class="text_center"><%= @lesson.schools_attendeds.map{|sa| sa.qualification.try(:name).try(:titleize)}.join(', ') %></p>
  <!-- Styling for review trees in lessons#shows -->
  <div class="course_rating text_center">
    <p style="font-size: 2em;">
      <% average_reviews(@lesson).to_i.times do %>
        <%= image_tag("marketplace/colored_tree.png", class: 'img-responsive img-circle review_trees') %>
      <% end %>
      <% (5 - average_reviews(@lesson).to_i).times do %>
        <%= image_tag("marketplace/blank_tree.png", class: 'img-responsive img-circle review_trees') %>
      <% end %>
      (<%= @lesson.reviews.count %>)
    </p>
    
    <% if inst_address.present? %>
      <br />
      <p id='inst_address'>
        <span class = 'glyphicon glyphicon-map-marker' aria-hidden='true'></span><%=inst_address %>
      </p>
    <% end %>
    <br />
    <p id="member_since"><strong>Member Since:</strong> <%= @instructor.created_at.strftime("%B %Y") %> </p>
    <p><strong>Last Login:</strong> <%= @instructor.last_sign_in_at %> </p>
  </div>
</div>

<%= render partial: 'tutor_avatar_modal' %>
<%= render partial: 'inst_address_on_map_modal' if inst_address.present? %>


<div class="book_lesson col-md-4 col-sm-12">
  <div class="btn-group btn-extrabig-group" style="margin-top: 5% !important; margin-bottom: 1% !important;">
    <button type="button" class="btn btn-success btn-extrabig" id="sesson-modal-button">Book Lesson</button>
    <button type="button" class="btn btn-success btn-extrabig_2 dropdown-toggle" id="sesson-modal-button-dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <ul class="dropdown-menu">
      <li class="<%= @instructor == current_user ? 'disabled' : '' %>"><%= link_to 'Contact Me', (@instructor == current_user ? '#' : create_chat_path(@lesson.id)) %></li>
      <li class="<%= @instructor == current_user ? 'disabled' : '' %>"><a id="report-user-link" href="#">Report Violation</a></li>
    </ul>
  </div>
</div>
<% if @instructor == current_user %>
  <script type="text/javascript">
    $('#sesson-modal-button').attr('disabled', 'disabled');
  </script>
<% end %>  
<% if @instructor != current_user %>
  <%= render partial: 'reported_users/report_user_form' %>
  
  <script type="text/javascript">
    $('#report-user-link').on('click', function(){
      $('#report-user-form').modal('show')  
    })
  </script>
<% end %>