.row
	.col-md-5
		= f.input :lesson_date, label: false, as: :date_picker, input_html: { class: 'hasDatePicker' }
	.col-md-3
		= f.input :from_time, label: false, as: :time_picker, input_html: { class: 'hasTimePicker' }
	.col-md-1
		%strong to
	.col-md-3
		= f.input :to_time, label: false, as: :time_picker, input_html: { class: 'hasTimePicker' }
	= f.input :_destroy, as: :hidden, input_html: { class: 'destroy_nested' }
	= link_to '#', class: 'remove_fields lc_close' do
		= fa_icon 'close'
