<div class="col-md-4">
    
  <div class='well <%= "ls-#{index}" %>' style = "<%= grey_well ? 'background-color: #A9A9A9;' : '' %> padding-top: 10px;">
    <%= image_tag('lesson_profile/salmon_banner.png', class: 'img-responsive green_banner') %>
    <p id="sesson_price">$ <%= ls.rate %></p>
    <br />
    <br /><br />

    <%= image_tag('Calendar-Empty.png', style: 'height: 106px;') %>
    <h3 class="ls-month"><%= ls.lesson_date.strftime("%b") %></h3>
    <h2 class="ls-date"><%= ls.lesson_date.strftime("%d") %></h2>
    <p class="ls-day"><%= ls.lesson_date.strftime("%A") %></p>

    <br />
    <br />
    <p><span><%= image_tag('Time-Icon.png', style: 'height: 20px;') %></span> <%= "#{ls.from_time.strftime('%H:%M')} - #{ls.to_time.strftime('%H:%M')}" %></p>
    <p><span><%= image_tag('Location-Icon.png', style: 'height: 20px;') %></span> <%= inst_address.present? ? inst_address : "N/A" %></p>
  </div>
</div>