
<div class="instructor_profile col-md-4">
  <div class="well" style="background-color: #F8F8F8;">
    <%= image_tag('lesson_profile/salmon_banner.png', class: 'img-responsive green_banner_large') %>
    <p id="sesson_price_large">Next Session</p>
    <br />
    <br />

    <%= image_tag('Calendar-Empty.png', style: 'height: 12em; margin-left: 14%;') %>
    <h3 style="margin-top: -62%; /* margin-left: 26%; */ font-size: 3em; text-align: center; margin-left: auto; margin-right: auto;"><%= ls_month %></h3>
    <h2 style="margin-top: 0%; font-size: 4em; text-align: center; margin-left: auto; margin-right: auto;"><%= ls_date %></h2>
    <p style ="margin-top: -5%; font-size: 2em; text-align: center; margin-left: auto; margin-right: auto;"><%= ls_day %></p>

    <br />
    <br />
    <p><span><%= image_tag('Time-Icon.png', style: 'height: 20px;') %></span> <%= ls_time_slot %></p>
    <p><span><%= image_tag('Location-Icon.png', style: 'height: 20px;') %></span> <%= inst_address.present? ? inst_address : "N/A" %></p>
    
    <hr>
    <p><%= link_to 'Click here', '#', id: 'sesson-modal-link', remote: true %> for more upcoming sessions</p>
  </div>
</div>
<% if @instructor != current_user %>
    <%= render partial: 'next_sessons_modal' %>
<% end %>

