<style type="text/css">
  .ls-month{
    margin-top: -83%; 
    font-size: 1.5em; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
  }

  .ls-date{
    margin-top: 15%; 
    font-size: 1em; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
  }

  .ls-day{
    margin-top: -6%; 
    font-size: 1em; 
    text-align: center; 
    margin-left: auto; 
    margin-right: auto;
  }

</style>
<div class="modal fade" id="sesson-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="height: 52em;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= image_tag((@lesson || @chat.lesson).user.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive pull-left', id: 'next-sesson-modal-avatar') %>

        <h4 class="modal-title pull-left" style="margin-top: 10px;"><%= (@lesson || @chat.lesson).title.titleize %>
          <br />
          By <%= link_to (@lesson || @chat.lesson).user.display_name || 'Anonymous', '#' %>
        </h4>
      </div>

      <div class="modal-body">
        <div class="col-lg-12"><b>Please choose the upcoming session(s) you are interested in:</b></div>
        <br />
        <br />
        <div class="clearfix"></div>
        <%= form_tag(create_booking_path, method: 'post') do %>
          <% lesson_schedules.each_with_index do |ls, index| %>
            <%= render partial: 'lessons/ls_well_in_ls_modal', locals: {ls: ls, index: index, grey_well: false} %>

            <script type="text/javascript">
              $('.ls-<%= index %>').on('click', function(){
                $('.well').css('background-color', '#f5f5f5');
                $('.ls-<%= index %>').css('background-color', '#D3D3D3');
                $('#lesson_schedules_ls_id').val('<%= ls.id %>');
                $('.book-lesson-button').removeAttr('disabled');
              })
            </script>

          <% end %>  
          <% if lesson_schedules.empty? %>
            <% (@lesson || @chat.lesson).lesson_schedules.each_with_index do |ls, index| %>
              <%= render partial: 'lessons/ls_well_in_ls_modal', locals: {ls: ls, index: index, grey_well: true} %>
            <% end %>
          <% end %>
          
          <div class="col-md-12">
            <p>By clicking “Book Now”, you confirm that you have read the <%= link_to "terms and conditions", '#' %>, fully understood them and agreed to abide by them. In the case of lesson cancellations and postponements, we urge you to contact the lesson provider at the earliest possible moment for a fair and smooth learning experience!</p>
            <br />
            <%= hidden_field_tag 'lesson_schedules[ls_id]', '' %>
            <% if ((@lesson || @chat.lesson).user != current_user) && current_user.user_type != 'ORGANIZATION' %>
              <br/>
              <%= submit_tag 'Book Now', class: book_lesson_btn_class, disabled: 'disabled' %>
            <% else %>
              <br/>
              <%= submit_tag 'Book Now', class: 'modal-center-button btn btn-default', disabled: 'disabled' %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>