.row
	.col-md-9.col-md-offset-2
		.row
			.col-md-3
				%strong School
			.col-md-9
				= f.input :name, label: false
		.row
			.col-md-3
				%strong Time Period
			.col-md-9
				.row
					.col-md-4
						= f.input :start_year, label: false
					.col-md-2
						to
					.col-md-4
						= f.input :end_year, label: false
		.row
			.col-md-3
				%strong Qualifications
			.col-md-9
				= f.association :qualification, label: false
		.row
			.col-md-3
				%strong Graduated
			.col-md-9
				= f.input :has_graduated, label: false

		.row
			.col-md-3
				%strong Disciplines
			.col-md-9
				= f.input :disciplines, label: false

	= f.input :_destroy, as: :hidden, input_html: { class: 'destroy_nested' }
	= link_to '#', class: 'remove_fields lc_close' do
		= fa_icon 'close'
