<div class="modal fade" id="tutor-image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog user-avatar-modal">
    
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <%= @instructor.display_name || "Anonymous" %>
        <h4 class="modal-title" id="myModalLabel"></h4>
      </div>
      <div class="modal-body">
        <%= image_tag(@lesson.user.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive img-center') %>
      </div>
    </div>
  </div>
</div>