= render 'shared/search_header'
= render 'shared/dash_header'

.row
	= render 'shared/side_menu'

	.col-md-9
		= render 'lessons/lesson_nav'
		%br
		- @awards.each do |award|
			.row
				.col-md-8.col-md-offset-2
					.well
						.row
							.col-md-2
								%strong Award:
							.col-md-6
								#{award.name} (#{award.year})
							.col-md-3
								= link_to "Edit Award", edit_award_path(award), remote: true
							.col-md-1
								= link_to award_path(award), method: :delete, data: {confirm: "Are you sure?"} do
									= fa_icon 'close'
		.row
			.col-md-8.col-md-offset-2
				= simple_form_for(@lesson, html: {  class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
					= f.error_notification
					= f.simple_fields_for :awards do |a|
						- if @lesson.awards.empty?
							= render "award_fields", f: a
					.text-center
						= link_to_add_fields "Add another award", f, :awards
					%br
					.text-center
						= f.button :submit, "Save Changes", class: "btn btn-success"
