= render 'shared/search_header'
= render 'shared/dash_header'

.row
	= render 'shared/side_menu'

	.col-md-9
		= render 'lessons/lesson_nav'
		%br
		= simple_form_for(@lesson) do |f|
			.row
				.col-md-12
					.panel.panel-default
						.panel-body
							%h5.sub-text
								%strong Add Photo to Gallery
							.row
								.col-md-7
									%p  You can add up to 4 photos to show more about your class.
									= f.simple_fields_for :lesson_galleries do |g|
										= g.input :photo, as: :file, label: false, input_html: { id: "lesson_gallery" }
									- if @lesson.lesson_galleries.size.eql?(0)
										.new-showcase
											= fa_icon 'plus 2x'

									- @lesson.lesson_galleries.each_with_index do |value, index|
										- if @lesson.lesson_galleries.size.eql?(4)
											.showcase
												= image_tag value.try(:photo).try(:url)
												= link_to lesson_gallery_path(value), method: :delete, class: 'remove-photo' do
													= fa_icon 'close'
											- if index.eql?(1)
												.clear{ :style => "clear: both;" }
										- else
											.showcase{ :id => "#{value.id.nil? ? 'new' : '' }" }
												= image_tag value.try(:photo).try(:url)
												- unless value.try(:id).nil?
													= link_to lesson_gallery_path(value), method: :delete, class: 'remove-photo' do
														= fa_icon 'close'
											- if index.eql?(@lesson.lesson_galleries.size - 1)
												- if @lesson.lesson_galleries.size.eql?(1) && @lesson.lesson_galleries[0].try(:id).nil?
													.new-showcase
														= fa_icon 'plus 2x'
												- 4.times do |i|
													- break if i.eql?(4 - @lesson.lesson_galleries.size)
													.new-showcase
														= fa_icon 'plus 2x'

											- if index.eql?(1)
												.clear{ :style => "clear: both;" }
								.col-md-5
									.display-box
										- if @lesson.lesson_galleries.size.eql?(1) && @lesson.lesson_galleries[0].id.nil?
											= image_tag "default.png"
										- else
											= image_tag @lesson.lesson_galleries.order('created_at DESC')[@lesson.lesson_galleries.size - 1].try(:photo).try(:url)
										.showcase-upload.text-center{ :title => "upload photo", :data => { :toggle => "tooltip", :placement => "top" }}
											= fa_icon 'camera'
			.row
				.col-md-12
					.panel.panel-default
						.panel-body
							%h5.sub-text
								%strong About yourself
							.row
								.col-md-12
									= f.input :about_tutor, label: false, input_html: { rows: 5 }
			.row.text-center
				.col-md-12
					= f.button :submit, "Save Changes", class: 'btn btn-success'
					= link_to 'Cancel', '#', class: 'btn btn-default'
