= render 'shared/search_header'
= render 'shared/dash_header'

.row
  = render 'shared/side_menu'

  .col-md-9
    %h3{ :style => "margin-top: 0 !important;" }
      = fa_icon 'user-plus', text: 'List a Lesson'
      %br
      %small
        Create a new lesson or edit your existing ones.
    .row
      .col-md-12.text-center
        = link_to 'New Lesson', new_lesson_path, remote: true, class: 'btn btn-info btn-lg'
    %br
    - @lessons.each_slice(2) do |lessons|
      .row
        - lessons.each do |lesson|
          .col-md-6
            .panel.panel-default
              .panel-body
                .row
                  .col-md-5
                    - if lesson.lesson_galleries.order('created_at DESC').first.try(:photo).try(:url).nil?
                      = image_tag 'default.png', size: "140x100"
                    - else
                      = image_tag lesson.lesson_galleries.order('created_at DESC').first.photo.url, size: "140x100"
                  .col-md-7
                    .row
                      .col-md-12
                        %dl
                          %dt Date created:
                          %dd.definition #{lesson.created_at.strftime('%d-%m-%y')}
                          %dt Lesson title:
                          %dd.definition 
                            = link_to lesson.title, lesson_path(lesson.id)
                    .row
                      .col-md-12
                        = link_to "Edit Lesson", basic_info_lesson_url(lesson), class: "btn btn-success btn-sm"
                        = link_to "Delete Lesson", "#", class: "btn btn-danger btn-sm"
