= render 'shared/search_header'
= render 'shared/dash_header'

.row
    = render 'shared/side_menu'

    .col-md-9
        = render 'lessons/lesson_nav'
        %br
        = simple_form_for(@lesson, html: {  class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
            = f.error_notification
            .row
                .col-md-6
                    .panel.panel-default
                        .panel-body{ :style => "padding-bottom: 25px;"}
                            = f.input :title, label: 'Lesson Title', max: '50'
                            = f.input :class_description, as: :text, placeholder: "Tell us more about your class! Eg: 1) What are you offering? 2) What will your students learn?".html_safe, input_html: { rows: 16}

                .col-md-6
                    .panel.panel-default
                        .panel-body
                            = f.simple_fields_for :lesson_specification do |sp|
                                = sp.input :code_lat, :as => :hidden, input_html: {id: "code_lat", value: ""}
                                = sp.input :code_lng, :as => :hidden, input_html: {id: "code_lng", value: ""}
                                = sp.association :class_level
                                = sp.association :age_requirement
                                = sp.input :average_class_size
                                = sp.input :number_of_lessons, placeholder: "E.g: 4 per month or twice a week"
                                = sp.input :fee_includes, placeholder: "Eg: Materials provided", hint: "<small><i>leave blank if not applicable</i></small>".html_safe
                                = sp.input :class_location, placeholder: "123 Main St #01-123 Singapore 123456", input_html: {id: "location"}

            .row
                .col-md-12
                    .panel.panel-default
                        .panel-body
                            %h5.sub-text
                                %strong Lesson Category

                            = f.simple_fields_for :lesson_categories do |lc|
                                = render "lesson_category_fields", f: lc
                            .text-center
                                = link_to_add_fields "Add Category", f, :lesson_categories

            .row
                .col-md-12
                    .panel.panel-default
                        .panel-body
                            %h5.sub-text
                                %strong Lesson Schedule

                            = f.simple_fields_for :lesson_schedules do |lc|
                                = render "lesson_schedule_fields", f: lc
                            .text-center
                                = link_to_add_fields "Add another timeslot", f, :lesson_schedules
            .row
                .col-md-12
                    = f.button :submit, 'Save Changes', class: 'btn btn-success btn-block'
