$('#sharedModal .modal-body').html("<%= escape_javascript(render('lessons/lesson_title', lesson: @lesson)) %>");
$('#sharedModal > .modal-dialog').addClass('modal-sm');
$('#sharedModal').find('h4').text('Create a new lesson');
$('#sharedModal').modal('show');