= render 'shared/search_header'
= render 'shared/dash_header'

.row
	= render 'shared/side_menu'

	.col-md-9
		= render 'lessons/lesson_nav'
		%br
		.row
			.col-md-8.col-md-offset-2
				= simple_form_for(@lesson, html: {  class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
					= f.error_notification
					.row
						.col-md-6.col-md-offset-3
							.row
								.col-md-10
									%strong Hide from listing
								.col-md-2
									= f.input :is_hidden_from_listing, label: false
							.row
								.col-md-10
									%strong Hide age from public
								.col-md-2
									= f.input :is_age_public, label: false
					.text-center
						= f.button :submit, "Save Changes", class: "btn btn-success"
