= render 'shared/search_header'
= render 'shared/dash_header'

.row
	= render 'shared/side_menu'

	.col-md-9
		= render 'lessons/lesson_nav'
		%br
		.row
			.col-md-12
				= form_tag(lesson_path(@lesson), method: :put, class: "form-horizontal") do |f|
					- @schedules.each_slice(3) do |schedules|
						.row
							- schedules.each_with_index do |schedule, index|
								.col-md-4
									.well
										.row
											.col-sm-12.text-center
												= fa_icon "calendar 5x"
												%br
												= schedule.lesson_date.strftime("%b %d, %A")
												%br
												%br
										.row
											.col-sm-12
												= fa_icon "clock-o", text: "#{schedule.from_time.strftime('%I:%M%P')} - #{schedule.to_time.strftime('%I:%M%P')}"
											%br
										.row
											.col-sm-12
												= fa_icon "map-marker", text: "#{@lesson.lesson_specification.class_location}"
											%br
										.row
											.col-sm-12.text-center
												%strong Rates
											%br
										.row
											.col-sm-12.text-center
												.row
													.col-md-8.col-md-offset-2
														= hidden_field_tag "lesson[lesson_schedules_attributes][#{index}][id]", schedule.id
														= text_field_tag "lesson[lesson_schedules_attributes][#{index}][rate]", schedule.rate, class: "numeric decimal optional form-control"
											%br
					.text-center
						= button_tag "Save Changes", class: "btn btn-success"
