<style type="text/css">
  img.shortlist-heart:hover{
    cursor: pointer;
  }
  #details_botton_pic:hover{
    cursor: pointer;
  }
</style>
<%= render 'shared/search_header' %>
<div class="container">
  <div class="top_container">
    <div class="lesson_categories"><%= display_lesson_categories.present? ? display_lesson_categories : "Category Not Set" %></div>
    <!-- Lesson Details (Yello Banner) -->
    <div class="lesson_details col-md-8">
      <div class="col-md-10 details_top">
        <%#= image_tag('lesson_profile/yellow_banner.png', class: 'img-responsive yellow_banner') %>
        <h1><%= @lesson.title %></h1>
      </div>
      <div class="col-md-1 lesson_shortlist">
        <% if @instructor != current_user %>
          <%= form_tag(shortlist_lesson_path(@lesson.id), method: 'post', id: 'shortlist_form') do %>
            <%= hidden_field_tag 'shortlisted_lesson[user_id]', current_user.id %>
            <%= hidden_field_tag 'shortlisted_lesson[lesson_id]', @lesson.id %>

            <!-- hidden input with user_id and lesson_id -->
          <% end %>
          <% if lesson_shortlisted? %>
            <%= image_tag('lesson_profile/shortlist.png', class: 'img-responsive full_shortlist_heart shortlist-heart', "data-toggle"=> "tooltip", "data-placement"=>"top", "title" => "Unshortlist") %>
          <% else %>
            <%= image_tag('lesson_profile/empty_shortlist.png', class: 'img-responsive empty_shortlist_heart shortlist-heart', "data-toggle"=> "tooltip", "data-placement"=>"top", "title" => "Shortlist") %>
          <% end %>
        <% end %>  
      </div>
      <hr class="header_divider" style="margin-top: 9%;">
      <!-- Lesson photo gallery -->
      <div class="lesson-image-n-info">
        <div class="col-lg-6 details_bottom">
          <div id="details_botton_pic">
            <%= image_tag(lesson_gal_first_image(@lesson), class: "img-responsive", id: "profile_lesson_pic", alt: "Course Picture") %>
          </div>
          <p class="social-images">
            <%= link_to "#", style: "color: #3b5998" do %>
              <%= fa_icon "facebook-square 3x" %>
            <% end %>
            <%= link_to "#" do %>
              <%= fa_icon "twitter-square 3x" %>
            <% end %>
            <%= link_to "#", style: 'color: #cb2027' do %>
              <%= fa_icon "pinterest-square 3x" %>
            <% end %>
            <%= link_to "#", style: "color: black" do %>
              <%= fa_icon "envelope-o 3x" %>
            <% end %>
          </p>
        </div>
        <br />
        <!-- Creates the bootstrap modal where the image will appear -->
        <%= render partial: 'image_gallery_modal', locals: {images: @lesson.lesson_galleries} %>

        <div class="col-lg-6 lesson_description">
          <p><strong>Class Level: </strong> <span style="color: #808080;"><%= @lesson.lesson_specification.try(:class_level).nil? ? "Level Not Set" : @lesson.lesson_specification.try(:class_level).level %></span> </p>
          <p><strong>Age Requirement: </strong> <span style="color: #808080;"><%= @lesson.lesson_specification.try(:age_requirement) || "Age Requirement Not Set" %></span> </p>
          <p><strong>Average Class Size: </strong><span style="color: #808080;"><%= @lesson.lesson_specification.try(:average_class_size) || "Average Size Not Set" %></span></p>
          <p><strong>Number of Lessons: </strong><span style="color: #808080;"><%= (qty = @lesson.lesson_specification.try(:number_of_lessons).try(:empty?) ? "Lesson Quantity Not Set" : qty)%></span> </p>
          <p><strong>Class Description: </strong><br/>
          <span><%= @lesson.class_description %></span></p>
        </div>
        <div class="col-md-12">
          <br /><br />
          <div class="full-lesson-description">
            <p class="pull-left" style="<%= @lesson.class_description.present? ? '' : 'margin-top: 4em !important;' %>"><strong>Fee Includes: </strong><br/>
            <%= @lesson.lesson_specification.try(:fee_includes) %></p>
          </div>
        </div>  
      </div>
    </div>

    <%= render partial: 'lesson_show_sidebar' %>
  </div>

  <!-- "ABOUT ME" -->
  <div class="middle_container">
    <div class="about_me col-md-8">
      <div class="col-md-12 details_top"><h1>About <%= current_user.user_type == 'ORGANIZATION' ? 'Organization' : 'Me' %></h1></div>
      
      <hr class="header_divider" style="margin-top: 8%;">
      <div class="about_me_content">
        <div class="about_me_headers">
          <p><strong>Summary:</strong>
            <p class="about_me_description"><%= @lesson.about_tutor %></p>
          </p>
          <% if current_user.user_type != 'ORGANIZATION' %>
            <p><strong>Qualifications:</strong>
              <p class="about_me_description"><%= @lesson.schools_attendeds.map {|sa| sa.qualification.try(:name)}.join(', ') %> </p>
            </p>
            <p><strong>Experience:</strong>
              <p class="about_me_description"><%= "#{@lesson.tutor_qualification.try(:years_of_experience)} year(s)" %>
            </p>
          <% end %>
          <p><strong>Awards:</strong>
            <p class="about_me_description"><%= @lesson.awards.map{|a| "#{a.name.titleize} (#{a.year})"}.join(', ') %> </p>
          </p>
        </div>
      </div>
    </div>
    <%= render partial: 'next_sesson_sidebar' %>
  </div>

  <!-- "Instructor Reviews" -->
  <div class="instructor_review_container">
    <div class="instructor_review col-md-8">
      <div class="col-md-12 details_top"><h1>Reviews of <span style="font-style: italic;"><%= @instructor.display_name %></span></h1></div>
      
      <hr class="header_divider" style="margin-top: 8%;">
      <!-- Displays the instructors average rating -->
      <div class="instructor_review_profile">
        <div class="course_rating text_center">
          <p>
            <% average_reviews(@lesson).to_i.times do %>
              <%= image_tag("marketplace/colored_tree.png", class: 'img-responsive img-circle review_trees') %>
            <% end %>  
            <% (5 - average_reviews(@lesson).to_i).times do %>
              <%= image_tag("marketplace/blank_tree.png", class: 'img-responsive img-circle review_trees') %>
            <% end %>

            <span id="instructor_review_count">(<%= @lesson.reviews.count %> reviews)</span>
          </p>
          <p id="rating_average"><%= "#{average_reviews(@lesson)} out of 5.0" %></p>
        </div>
      </div>

      <% @lesson.reviews.each do |review| %>
        <div class="all_instructor_review">
          <div class="each_instructor_review">
            <div class="instructor_review_heading">
              <p id="review_title"><%= review.title.titleize %></p>
              <p id="review_date"><span><%= review.created_at.to_date.strftime("%d-%m-%Y") %></span></p>
            </div>
            <div class="instructor_review_trees">
              <% review.rating.times do %>
                <%= image_tag("marketplace/colored_tree.png", class: 'img-responsive img-circle review_trees') %>
              <% end %>  
              <% (5 - review.rating).times do %>
                <%= image_tag("marketplace/blank_tree.png", class: 'img-responsive img-circle review_trees') %>
              <% end %>
            </div>
            <div class="instructor_review_content">
              <p><%= review.content %> </p>
            </div>
            <div class="instructor_review_bottom">
              
              <p id="class_attended"><strong>Attended: </strong><i><%= link_to review.lesson.title, lesson_path(review.lesson.id) %></i></p>
              <%= image_tag(review.reviewer.profile.try(:avatar).try(:url, :medium) || "lesson_profile/teal_banner.png", class: 'img-responsive teal_banner', id: "reviewer_pic", style: 'margin-left:49% !important; height: 60px; width: 60px; margin-top: 0% !important;') %>

              <p><%= review.reviewer.display_name %></p>
            </div>
          </div> <!-- each_instructor_review -->
        </div> <!-- all_instructor_review -->
      <% end %>



    </div> <!-- instructor_review -->
  </div>

  <div class="instructor_review_container">
    <div class="instructor_review col-md-8">
    <div class="col-md-12 details_top"><h1>Classes by <span style="font-style: italic;"><%= @instructor.display_name %></span></h1></div>
      
      <hr class="header_divider" style="margin-top: 8%;">
      <% inst_classes_in_same_category.in_groups_of(3, false).each do |lessons| %>
        <% lessons.each do |lesson| %>
          <div class="col-md-4">
            <div class='well' style="background-color: #fff;">
              <%= image_tag('lesson_profile/salmon_banner.png', class: 'img-responsive green_banner_large', style: "margin: -9% 0 0 -12% !important;") %>
              <p id="sesson_price_large" style="margin-left: 0% !important;  margin-top: -1% !important;"><%= display_lesson_price(lesson) == "Contact instructor for pricing" ? 'N/A' : display_lesson_price(lesson) %></p>
              <br />
              <br />
              <%= image_tag(lesson_gal_first_image(lesson), class: "img-responsive", id: "profile_lesson_pic", alt: "Course Picture") %>
              <h2><center><%= link_to lesson.title, lesson_path(lesson.id) %></center></h2>
            </div>
          </div>
        <% end %>
        <% if lessons.size < 3 %>
          <div class="col-lg-<%= 12 - (lessons.size * 4) %>"></div>
        <% end %>

      <% end %>
      <% if inst_classes_in_same_category.blank? %>
        <center><h2>No classes found.</h2></center>
      <% end %>
    </div> <!-- instructor_review -->
  </div>

  <div class="instructor_review_container">
    <div class="instructor_review col-md-8">
      <div class="col-md-12 details_top"><h1>Related Classes you may be interested in</h1></div>
      
      <hr class="header_divider" style="margin-top: 8%;">
      
      <% related_lessons.in_groups_of(3, false).each do |lessons| %>
        <% lessons.each do |lesson| %>
          <div class="col-md-4">
            <div class='well' style="background-color: #fff;">
              <%= image_tag('lesson_profile/salmon_banner.png', class: 'img-responsive green_banner_large', style: "margin: -9% 0 0 -12% !important;") %>
              <p id="sesson_price_large" style="margin-left: 0% !important;  margin-top: -1% !important;"><%= display_lesson_price(lesson) == "Contact instructor for pricing" ? 'N/A' : display_lesson_price(lesson) %></p>
              <br />
              <br />
              <%= image_tag(lesson_gal_first_image(lesson), class: "img-responsive", id: "profile_lesson_pic", alt: "Course Picture") %>
              <h2><center><%= link_to lesson.title, lesson_path(lesson.id), style: 'color: black !important; text-decoration: none !important;' %></center></h2>
              <center>
                <% average_reviews(lesson).to_i.times do %>
                  <%= image_tag("marketplace/colored_tree.png", class: 'img-responsive img-circle review_trees', style: 'width: 14%;') %>
                <% end %>
                <% (5 - average_reviews(lesson).to_i).times do %>
                  <%= image_tag("marketplace/blank_tree.png", class: 'img-responsive img-circle review_trees', style: 'width: 14%;') %>
                <% end %>
                <span style="font-size: 20px;">(<%= lesson.reviews.count %>)</span>
              </center>
              <h4><center>By <span style="color: #337ab7;"><%= lesson.user.display_name %></span></center></h4>
            </div>
          </div>
        <% end %>

        <% if lessons.size < 3 %>
          <div class="col-lg-<%= 12 - (lessons.size * 4) %>"></div>
        <% end %>
      <% end %>
      <% if related_lessons.blank? %>
        <center><h2>No classes found.</h2></center>
      <% end %>
    </div> <!-- instructor_review -->
  </div> <!-- instructor_review_container -->
</div>

<script type="text/javascript">
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>