= render 'shared/search_header'
= render 'shared/dash_header'

.row
  = render 'shared/side_menu'

  .col-md-9
    = render 'lessons/lesson_nav'
    %br
    = simple_form_for(@lesson, html: {  class: 'form-horizontal' }, wrapper: :horizontal_form) do |f|
      = f.error_notification
      .panel.panel-default
        .panel-body
          %h5.sub-text
            %strong Qualification
            - @lesson.schools_attendeds.each do |schools_attended|
              = f.simple_fields_for :schools_attendeds, schools_attended do |a|
                
                = render "schools_attended_fields", f: a
                %hr
            .text-center
              = link_to_add_fields "Add school", f, :schools_attendeds
      = f.simple_fields_for 'tutor_qualification_attributes', @lesson.tutor_qualification do |a|
        .panel.panel-default
          .panel-body
            %h5.sub-text
              %strong Teaching Experience
            = render "tutor_qualification_fields", f: a
      .text-center
        = f.button :submit, "Save Changes", class: "btn btn-success"
