.container
	.row
		.col-sm-12.text-center
			%h1
				%strong
					#{@sub_category.category.name}: #{@sub_category.name}
	.row
		.col-sm-12.text-center
			%ul.list-inline
				- @subcategories.each_with_index do |sub_category, index|
					- active = @sub_category == sub_category
					- link = active ? "#" : sub_category
					- spacing = '&nbsp;&nbsp;&nbsp;|' unless index.eql?((@subcategories.size - 1))
					= "&nbsp;&nbsp;#{link_to(sub_category.name, link, { style: ("color: #376092 !important;" if active)}) }#{ spacing }".html_safe
	.row
		.col-sm-12.col-lg-12
			= render "shared/search_form"

	= render "shared/listings"
