= render "devise/shared/title"
.row
	.col-md-4.col-md-offset-4
		.well{ :style => "text-align: justified;" }
			%h2{ :style => "margin-top: -10px;" } Log in
			= flash_messages layout_flash: false
			= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
				.form-inputs
					= f.input :email, required: false, autofocus: true
					= f.input :password, required: false
					= f.input :remember_me, as: :boolean if devise_mapping.rememberable?
				.form-actions.text-center
					= f.button :submit, "Log in", class: 'btn btn-success'
			%br
			.text-center
				= render "devise/shared/links"

