.chatbox-panel{
	padding: 0px !important;
}



.inbox-header{
	padding: 10px;
	border-bottom: 1px solid #ddd;
	height: 4.5em;
}

.org-name{
	margin: 0px !important;
	font-size: 12px;
}

.lesson-name{
	font-size: 18px;
	margin: 0px !important;
}

img#chat-show-instructor{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  position: relative;
  display: block;
  border: solid 2px green;
  padding: .4%;
  background-color: white;
}

img#chat-show-from{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  position: relative;
  display: block;
  border: solid 2px green;
  padding: .4%;
  background-color: white;
  margin-top: -2%;
}

img#chat-show-to{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-left: 15px;
  position: relative;
  display: block;
  border: solid 2px green;
  padding: .4%;
  background-color: white;
  margin-top: -2%;
}

img#sender-pic{
	float: right !important;
	background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  margin-right: 15px;
  position: relative;
  display: block;
  border: solid 2px green;
  padding: .4%;
  background-color: white;
}

.messages-box{
	height: 20em;
	padding: 10px;
  margin-bottom: 3em;
	overflow-y: auto;
}

.send-message-box{
	border-top: 1px solid #ddd;
	height: 5em;
}

.received-message{
	min-height: 5em;
  margin-bottom: 2em;
}

.received-message-row{
	width: 90%;
  margin-right: 10%;
}

.sent-message{
	min-height: 5em;
  margin-bottom: 2em;
}

.sent-message-row{
	width: 90%;
  margin-left: 10%;
}

.received-message-time{
  float: right !important;
  font-size: 12px;
  color: grey;
  margin-top: 20px;
  margin-bottom: 30px;
}

.sent-message-time{
  float: left !important;
  font-size: 12px;
  color: grey;
  margin-top: 20px;
  margin-bottom: 30px; 
}

.new_message_text_area{
  width: 90%;
  min-height: 4.8em;
  border: 0px 0px 1px 0px;
  border: none;
  resize: none;
  overflow-y: auto;
  padding-left: 20px;
}

.report-user-bar{
  margin-top: -2em; 
  height: 2em; 
  background-color: #fff;
}

.new_message_text_area::-webkit-input-placeholder {padding: 10px;}

.new-message-send-button{
  margin-bottom: 0%;
}

.leave-review-button{
  width: 100% !important;
}

.show-button{
  width: 100% !important;
}
.star-chats:hover{
  cursor: pointer;
}

.unstar-chats:hover{
  cursor: pointer;
}

.delete-chats:hover{
  cursor: pointer;
}
img.camera-image:hover{
  cursor: pointer;
}