// Dashboard
#payment_setting_div input {
  margin: 1%;
}
#transfer_textrea {
  margin: 0 1% 0 1%;
  border: 1px solid silver;
  padding: 1% 0 0 .5%;
  border-radius: 5px;
}
#webpage_payment {
  width: 100%;
  padding: 1%;
  border: 1px solid #cecece;
  border-radius: 5px;
}
#na_payment_button {
  margin-top: 20%;
}
