////////////////////// Top Container ///////////////////////

.lesson_categories {
  margin: 5% 0 1% 1%;
  font-size: 20px;
}

// LESSON DETAILS

// Lesson photo carousel
.CSSgal {
	position: relative;
	overflow: hidden;
	height: 100%; /* Or set a fixed height */
}
    /* SLIDER */
    .CSSgal .slider {
    	height: 100%;
    	white-space: nowrap;
    	font-size: 0;
    	transition: 0.8s;
    }
    /* SLIDES */
    .CSSgal .slider > * {
    	font-size: 1rem;
    	display: inline-block;
    	white-space: normal;
    	vertical-align: top;
    	height: 100%;
    	width: 100%;
    	background: none 50% no-repeat;
    	background-size: cover;
    }
    /* PREV/NEXT, CONTAINERS & ANCHORS */
    .CSSgal .prevNext {
    	position: absolute;
    	z-index: 1;
    	top: 50%;
    	width: 100%;
    	height: 0;
    }
    .CSSgal .prevNext > div+div {
    	visibility: hidden; /* Hide all but first P/N container */
    }
    .CSSgal .prevNext a {
    	background: #fff;
    	position: absolute;
    	width:       60px;
    	height:      60px;
    	line-height: 60px; /* If you want to place numbers */
    	text-align: center;
    	opacity: 0.7;
    	-webkit-transition: 0.3s;
    					transition: 0.3s;
    	-webkit-transform: translateY(-50%);
    					transform: translateY(-50%);
    	left: 0;
    }
    .CSSgal .prevNext a:hover {
    	opacity: 1;
    }
    .CSSgal .prevNext a+a {
    	left: auto;
    	right: 0;
    }
    /* NAVIGATION */
    .CSSgal .bullets {
    	position: absolute;
    	z-index: 2;
    	bottom: 0;
    	padding: 10px 0;
    	width: 100%;
    	text-align: center;
    }
    .CSSgal .bullets > a {
    	display: inline-block;
    	width:       30px;
    	height:      30px;
    	line-height: 30px;
    	text-decoration: none;
    	text-align: center;
    	background: rgba(255, 255, 255, 1);
    	-webkit-transition: 0.3s;
    					transition: 0.3s;
    }
    .CSSgal .bullets > a+a {
    	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
    }
    .CSSgal .bullets > a:hover {
    	background: rgba(255, 255, 255, 0.7) !important;
    }
    /* NAVIGATION BUTTONS */
    /* ALL: */
    .CSSgal >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
    /* ACTIVE */
    #s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
    #s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
    #s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
    #s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}

    /* PREV/NEXT CONTAINERS VISIBILITY */
    /* ALL: */
    .CSSgal >s:target ~ .prevNext >* {      visibility: hidden;}
    /* ACTIVE: */
    #s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
    #s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
    #s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
    #s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}

    /* SLIDER ANIMATION POSITIONS */
    #s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
    #s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
    #s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
    #s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}

    .CSSgal{
    	color: #fff;
    	text-align: center;
    }
    .CSSgal a {
    	border-radius: 50%;
    	margin: 0 3px;
    	color: rgba(0,0,0,0.8);
    	text-decoration: none;
    }

.lesson_details {
  background-color: #F8F8F8;
  border: 1px silver solid;
  border-radius: 5px;
  min-height: 600px;
}
.header_divider {
  margin-top: 14%;
}
.details_top {
  position: relative;
}
.yellow_banner {
  width: 30%;
  position: absolute;
  margin: -1.5% 0 0 -5.5%;
}
.lesson_shortlist {
  float: right;
  margin: 2% 4% 0 0;
}
.details_top h1{
  font-size: 24px !important;
}
.details_bottom {
  position: absolute;
  margin: 0 0 0 0;
  max-height: 50%;
}
  .details_bottom img {
    margin-top: 2%;
  }
.lesson_description {
  width: 50%;
  margin-top: -13px !important;
  float: right;
}
    .lesson_description {
      font-size: 1.3em;
    }
// LESSON PRICE
.lesson_price {
  background-color: #b2d4ff;
  margin-left: 3%;
  width: 30%;
  border: .5px solid silver;
  border-radius: 5px;
  text-align: center;
}
    .lesson_price p {
      font-size: 1.5em;
      padding: 4% 0 1% 0;
    }
// INSTRUCTOR PROFILE
.instructor_profile {
  position: relative;
  width: 30%;
  min-height: 300px;
  background-color: #F8F8F8;
  border: 1px silver solid;
  border-radius: 5px;
  margin: 1% 0 0 3%;
}
    #taught_by {
      position: absolute;
      margin: -61% 0 0 -2%;
      font-size: 1.2em;
    }
    #instructor_pic {
      background-repeat: no-repeat;
      background-position: 50%;
      border-radius: 50%;
      width: 110px;
      height: 115px;
      position: relative;
      display: block;
      margin: 35% auto 5% auto;
      border: solid 2px green;
      padding: .4%;
      background-color: white;
    }

    img#instructor_pic:hover{
      cursor: pointer;
    }
    #member_since {
      margin-top: 5%;
    }
    .salmon_banner {
      position: absolute;
      margin: 0 0 0 -9%;
      width: 38%;
    }
.book_lesson {
  padding-right: 0px !important;
  padding-left: 35px;
}
    .btn-extrabig-group {
      min-width: 100%;
    }
    .btn-extrabig {
      float: left;
      padding: 18px 28px;
      height: 28%;
      width: 90%;
      font-size: 1.5em;
      line-height: normal;
      -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
    }
    .btn-extrabig_2 {
      float: left;
      padding: 18px 28px;
      height: 28%;
      width: 10%;
      font-size: 1.5em;
      line-height: normal;
      -webkit-border-radius: 8px;
         -moz-border-radius: 8px;
              border-radius: 8px;
    }

////////////////// Middle Container //////////////////
.about_me {
  margin-top: 3%;
  background-color: #F8F8F8;
  border: 1px silver solid;
  border-radius: 5px;
  min-height: 400px;
}
    .purple_banner {
      width: 40%;
      position: absolute;
      margin: -3% 0 0 -6.5%;
    }
    #about_me_header {
      position: absolute;
      margin: 3% 0 0 2%;
      font-size: 2.5em;
    }
    .about_me_content {
      margin-left: 5%;
    }
    .about_me_content strong {
      font-size: 1.2em;
    }
    .about_me_description {
      margin: -2% 0 3% 0;
      font-size: 1.2em;
    }

////////////////// Instructor Review //////////////////
.instructor_review {
  margin-top: 3%;
  background-color: #F8F8F8;
  border: 1px silver solid;
  border-radius: 5px;
  min-height: 400px;
}
    .teal_banner {
      width: 40%;
      position: absolute;
      margin: -3% 0 0 -6.5%;
    }
    #instructor_review_header {
      position: absolute;
      margin: 5% 0 0 -5%;
      font-size: 1.2em;
    }
    .about_me_content {
      margin-left: 5%;
    }
    .about_me_content strong {
      font-size: 1.2em;
    }
    .about_me_description {
      margin: -2% 0 3% 0;
      font-size: 1.2em;
    }
    .instructor_review_profile {
      width: 50%;
      margin-left: -5%;
    }
    #instructor_review_count {
      color: orange;
      margin-left: 3%;
    }
    #rating_average {
      float: left;
      margin-left: 30%;
    }

// EACH INSTRUCTOR review
.each_instructor_review{
  margin: 2% 0 5% 0;
  padding: 2%;
  border: 1px silver solid;
  background-color: white;
}
    #review_title {
      font-size: 1.2em;
    }
    #review_date{
      color: #3381e0;
      margin-top: -1%;
    }
    .instructor_review_trees {
      width: 50%;
      padding: 2% 0 4% 0;
    }
    .instructor_review_bottom p {
      margin-top: 5%;
      display: inline-block;
    }
    #reviewer_pic {
      display: inline-block;
      margin-left: 35%;
      background-position: 50%;
      border-radius: 50%;
      width: 110px;
      height: 115px;
      position: relative;
      border: solid 2px green;
      padding: .4%;
      background-color: white;
    }

////////////////// BOTTOM CONTAINER /////////////////
.class_by_container {
  margin-top: 3%;
  background-color: #F8F8F8;
  border: 1px silver solid;
  border-radius: 5px;
  min-height: 400px;
}
  #class_by_header {
    position: absolute;
    margin: 4% 0 0 -5%;
    font-size: 1.5em;
  }

.img-center{
  margin-right: auto;
  margin-left: auto;
  height: 240px;
}
.full-lesson-description{
  font-size: 1.3em;
  width: 100%;
  float: left;
  margin-left: 7px !important;
}
.user-avatar-modal{
  width: 27em;
    margin-left: auto;
    margin-right: auto; 
}
#inst_address{
  margin-top: 5%;
  margin-bottom: 0px;
}

#inst_address:hover{
  cursor: pointer;
}


img#next-sesson-modal-avatar{
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  margin-right: 15px;
  position: relative;
  display: block;
  border: solid 2px green;
  padding: .4%;
  background-color: white;
}

#sesson_price{
  position: absolute;
  font-size: 1.0em;
  margin-top: 13px;
  margin-left: -6%;
}

.green_banner{
  position: absolute;
  margin: 0 0 0 -14.5%;
  width: 38%;
}

.green_banner_large{
  position: absolute;
  margin: -9% 0 0 -15%;
  width: 38%;
}

#sesson_price_large{
  position: absolute;
  font-size: 1.1em;
  /* margin-top: 13px; */
  margin-left: -9%;
  margin-top: 0%;
}
.social-images{
  padding: 10px;
  margin: 0px !important;
  background-color: white;
  border: 1px solid #efefef;
  margin-left: 7px !important;
  margin-right: 4px !important;
  margin-top: 5px !important;
}

.social-images img{
  height: 35px;
}

.social-images img:hover{
  cursor: pointer;
}
.lesson-image-n-info{
  height: 100%;
}

.lesson-image-n-info img{
  height: 16em;
  padding-left: 7px;
}

.modal-center-button{
  margin-left: 40%; 
  margin-right: 40%; 
  width: 20%;
}