body {
  font-family: 'Nunito', sans-serif !important;
	padding-top: 50px;
}

.radio {
	display: inline !important;
	margin-right: 35px;
}

#flash-notice {
	@extend .alert;
	@extend .alert-success;
}

#flash-error, #flash-alert {
	@extend .alert;
	@extend .alert-danger;
}

#flash-warning {
	@extend .alert;
	@extend .alert-warning;
}

.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 40px;
    border-top: 5px solid #5cb85c;
}

#settings, #lessons, #shortlist, #management, #reviews {
    border-radius: 5px;
    padding: 25px 20px 25px 20px;
    width: 300px;
    height: 180px;
    margin-bottom: 30px;
}

#settings {
	border: 10px solid #337ab7;
}

#lessons {
    border: 10px solid #faebcc;
}

#shortlist {
    border: 10px solid #a94442;
}

#management {
    border: 10px solid #d6e9c6;
}

#reviews {
    border: 10px solid #aa8cc5;
}

.sub-text {
	color: #777777;
}

.avatar {
    img {
        border-radius: 80%;
        padding: 10px;
        border: 3px solid #d6e9c6;
        width: 180px;
        height: 188px;
    }
}

.upload, .showcase-upload {
    position: absolute;
    left: 40px;
    top: 30px;
    border-radius: 100%;
    background-color: #337ab7;
    color: #fff;
    height: 30px;
    width: 30px;
    cursor: pointer;

    i {
        position:relative;
        top: calc(50% - 10px);
    }
}

.remove-photo {
    left: 110px;
    top: -70px;
    cursor: pointer;
    position: relative;
    color: maroon;

    i {
        position:relative;
    }
}

#uploadAvatar, #lesson_gallery, #new {
    display: none;
}

.showcase {
    width:25%;
    height: 70px;
    margin:4px 20px 4px 20px;
    /* border:1px solid black; */
    float: left
}

.showcase img {
    width: 98%;
    height: 67px;
    cursor: pointer;
}

.new-showcase {
    width:25%;
    height: 70px;
    margin:4px 20px 4px 20px;
    border:1px dashed black;
    float: left;
    cursor: pointer;

    i {
        margin-top: 20%;
        margin-left: 37%;
    }
}

.display-box {
    img {
        width: 100%;
        height: 200px;
    }
}

.definition {
    color: #5bc0de;
}

.lc_close {
    position: relative;
    margin-left: -25px;
    color: maroon;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color: #fff;
    background-color: #5cb85c;
}

.well {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: none !important;
    border-radius: 4px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.lower {
    margin-top: 10px;
}

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,0.65+43,1+100 */
.learn {
    min-height: 75vh !important;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,1) 100%), image-url('confidence.png') center center no-repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,1) 100%), image-url('confidence.png') center center no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,1) 100%), image-url('confidence.png') center center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}


.living {
    min-height: 75vh !important;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0.65) 50%), image-url('learning.png') center center no-repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('learning.png') center center no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('learning.png') center center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#firstItem {
    min-height: 80vh !important;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0.65) 50%), image-url('first.png') center center no-repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('first.png') center center no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('first.png') center center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#secondItem {
    min-height: 80vh !important;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0.65) 50%), image-url('second.png') center center no-repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('second.png') center center no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('second.png') center center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#thirdItem {
    min-height: 80vh !important;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0.65) 50%), image-url('third.png') center center no-repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('third.png') center center no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('third.png') center center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#about {
    min-height: 350px !important;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0.65) 50%), image-url('about.jpg') center center no-repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('about.jpg') center center no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('about.jpg') center center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}

#reachout {
    min-height: 80vh !important;
    color: #fff;
    background: -moz-linear-gradient(left,  rgba(0,0,0,0.65) 50%, rgba(0,0,0,0.65) 43%, rgba(0,0,0,0.65) 50%), image-url('reachout.png') center center no-repeat; /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('reachout.png') center center no-repeat; /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right,  rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.65) 43%,rgba(0,0,0,0.65) 50%), image-url('reachout.png') center center no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-size: cover !important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
    border-bottom: 5px solid #5cb85c;
}

#usp {
  min-height: 75vh !important;
  background-color: #f5f5f5;
}

#works-image {
  min-height: 70vh !important;
  background-image: image-url('howitworks.png');
}

li.about-menu {
    border-right: 2px solid #777777;
}

/* Mega Dropdown Menu */
.navbar-nav>li>.dropdown-menu#large {
    width: 190vh !important;
    margin-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  width: 100vh !important;
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #428bca;
  font-size: 18px;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}

/* Overrides */
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #4cae4c;

    &:hover {
      background-color: #dff0d8;
      border-color: #4cae4c;
    }
}

.navbar-default .navbar-nav > li > a {
  color: #000;

  &:hover {
    background-color: #dff0d8;
  }

  &:focus {
    background-color: #dff0d8;
    color: #000;
  }

}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #dff0d8;
    color: #000;
}

// Search bar autocomplete styling

.ui-widget-content {
  list-style: none;
  background-color: #f2f2f2;
  font-size: 1.2em;
  z-index: 3;
}
.ui-widget-content img {
  margin-right: 3%;
}
.ui-menu-item {
  margin: 0 0 0 -6.5%;
  padding: .50% 0 .75% 5.2%;
  z-index: 2;
}
.ui-menu-item:hover {
  background-color: #dddddd;
  color: #54a6ff;
}
.home_search_div {
  position: absolute;
  margin-top: -250px;
}
// .home_search_input {
// }
.home_search_inspiration {
  z-index: -2;
}
.carousel-indicators {
  z-index: 1;
}
.header_search_input {
  display: inline-block;
  margin: .4% 0 0 1%;
}
.header_search_input input{
  font-size: .9em;
  height: 5%;
}
