.course_row {
  margin: 0 auto;
}
//Subcategory
.marketplace_sub_category {
  display: inline-block;
  width: 100%;
  margin-left: -5%;
}
.marketplace_sub_category li {
  display: inline-block;
  padding: 0 1% 0 1%;
  font-size: 1vw;
  color: #195fd1;
  border-right: 1px solid grey;
}
.marketplace_sub_category li:last-child {
  border-right: none;
}

//Search Bar
// .filter_form {
//   margin: 0 auto;
//   padding: 0 0 2% 2%;
//   color: black;
// }
.filter_form div {
  text-align: center;
  display: inline-block;
}
.filter_form label {
  display: block;
  font-size: 1em;
  text-align: left;
  margin-left: 2%;
}
.form-control {
  width: 90% !important;
}
.search-form-inputs {
  margin-bottom: 5%;
}
.search_simple_form {
  width: 100%;
  margin: 0 auto;
  margin: -1.8% 0 -4% -.5%;
}
.search_browse_from {
  background-color: #e0e0e0;
  padding: .4% 0 .5% 1%;
  border: .5px solid #afafaf;
  font-size: .95em;
  color: #3d3d3d;
}
.search_range_from {
  background-color: #e0e0e0;
  padding: .4% 0 .5% 1%;
  border: .5px solid #afafaf;
  font-size: .95em;
  color: #3d3d3d;
}
#rates_range_inputs {
  width: 16%;
  background-color: #e0e0e0;
  padding-top: .38%;
  border: .5px solid #afafaf;
  font-size: .95em;
  color: #3d3d3d;
}
#rates_to {
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  padding: .4% 0 .5% 0;
  font-size: .95em;
}
.search_rates_to {
  width: 30%;
}
.form-group {
  margin-bottom: 6px;
}
.search_rates_from {
  width: 30%;
  font-size: 1em;
}
.search_sort_by {
  background-color: #e0e0e0;
  padding: .4% 0 .50% 1.5%;
  border: .5px solid #afafaf;
  font-size: .95em;
  color: #3d3d3d;
}
#search_sort_by {
  display: inline !important;
}
#search_input {
  background-color: #e0e0e0;
  padding-top: .35%;
  border: .5px solid #afafaf;
}
.search_search{
  margin-bottom: 1.9%;
  font-size: .95em;
  color: #3d3d3d;
  width: 300px;
}
.form-filter-button {
  margin: -.5% 0 0 -11%;
}

//Each Lesson Styling
.course_row {
  margin: auto;
}
.each_lesson {
  width: 30%;
  min-height: 550px;
  margin: 0 0 2% 2.3%;
  padding: 0;
  border: 1px solid silver;
}
.pic_div {
  position: relative;
}
.lesson_pic {
  width: 100%;
  height: 180px;
  position: relative;
}
.lesson_banner img {
  position: absolute;
  width: 30%;
  margin: -50% 0 0 -2%;
}
.range_price {
  position: absolute;
  margin: -46.4% 0 0 1.5%;
  font-size: 1.6vmin;
  color: white;
}
.single_price {
  position: absolute;
  margin: -46.5% 0 0 3%;
  font-size: 1.9vmin;
  color: white;
}
.tutor_pic {
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 50%;
  width: 100px;
  height: 105px;
  position: relative;
  display: block;
  margin: -15% auto 5% auto;
  border: solid 2px green;
  padding: .4%;
  background-color: white;
}
.text_center {
  text-align: center;
}
.course_rating {
  display: inline-block;
}
.instructor_name p {
  color: #195fd1;
  font-size: 1.2em;
}
.instructor_ed p {
  font-weight: bold;
  font-size: 1.2em;
  margin-top: -10px;
}
.review_trees {
  width: 8%;
  display: inline-block;
  margin: 0 auto;
  margin-right: -3px;
}
.course_rating p {
  display: inline-block;
  margin-left: 3%;
  font-family: Nunito;
}

.course_name {
  margin: 0 auto;
  margin-top: 8%;
  color: orange;
  text-align: center;
  border: 1px solid green;
  border-radius: 20px;
  width: 70%;
  position: relative;
  background-color: white;
  z-index: 1;
}
.course_name p {
  padding-top: 4%;
  font-size: 1.3em;
}
.course_description hr {
  width: 100%;
  border-top: 1px solid green;
  margin-top: -7%;
  z-index: -1;
}
.course_description p {
  padding: 8% 10% 0 10%;
}
