%div.container
    %div.row
        %div#category-header.col-sm-12.text-center
            %h1
                %strong
                    = "#{@category.name}&nbsp;".html_safe
                    = image_tag("categories/#{@category.name.downcase.gsub(' ', '-')}.png", size: "50x50")

            %div.marketplace_sub_category
                %ul
                    - @subcategories.each do |subcategory|
                        %li
                            = link_to(subcategory.name, subcategory)

    %div.row
        %div.col-sm-12.col-lg-12
            = render "shared/search_form"

    = render "shared/listings"
