<div class="modal fade" id="report-user-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h2>Report a User</h2>
      </div>

      <div class="modal-body report-user-form-body">
        <%= form_tag(reported_user_path, method: 'post', remote: true) do %>
          <b> Help us understand what’s happening.</b>
          
          <%= hidden_field_tag 'reported_user[reporter_id]', current_user.id %>
          <%= hidden_field_tag 'reported_user[reportee_id]', @instructor.try(:id) || chat_title_bar_user.try(:id) %>

          <%= text_area_tag 'reported_user[content]', '', class: 'form-control', style: 'width: 100% !important; resize: none;', rows: '6' %>
          <br />
          <%= submit_tag 'Submit', class: 'btn btn-success', style: 'margin-left: 38%; margin-right: 38%; width: 24%;' %> 
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- Thank you for alerting us. We are sorry to hear of your bad experience and will look into the matter as soon as possible. -->