<% if @reported_user.persisted? %>
  $('.report-user-form-body').html('<p>Thank you for alerting us. We are sorry to hear of your bad experience and will look into the matter as soon as possible.</p>');
<% else %>
  $('.report-user-form-body').html('<p>Something went wrong !!!</p>');
<% end %>    