!!!
%html
	%head
		%meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
		%title Prevalearn
		= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', integrity: "sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin: "anonymous"
	%body
		.container
			.row
				.col-md-12.text-center
					%h1
						%img{ :src => "#{root_url}assets/logo.png", width: "170", height: "50" }
						%br
						%small
							Moving Worlds, Reinventing Minds
					%br
			.row
				.col-md-12
					.panel.panel-default
						.panel-body
							%p
								Welcome #{@email}!
							%p
								Welcome to Prevalearn! Thank you so much for joining us, and please verify your account (#{@email}). This lets you access all of Prevalearn's features!
							%p.text-center
								= link_to 'Verify Email Address', confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-info btn-lg'
							%p
								When you register and verify with Prevalearn, you’re free to list skills that you wish to learn, or teach in this platform. Prevalearn then matches you to relevant Skill Providers, and interested Skill Seekers if you are teaching a course.
							%p
								Have any questions? Just drop us an email at admin@prevalearn.com! We’re always here to help, and have a good day ahead!
							%hr
							%p.small
								Button not working? Paste the following link into your browser:
								%br
								#{confirmation_url(@resource, confirmation_token: @token)}
							%p.small
								You’re receiving this email because you recently created a new Prevalearn account or added a new email address. If this wasn’t you, please ignore this email.
