= render 'shared/search_header'
= render 'shared/dash_header'
.row
  = render "shared/side_menu"
  .col-md-9
    .row
      = form_tag(delete_shortlisted_lessons_path, method: 'post', id: 'shortlisted_lessons_delete_form') do
        %input{type: "checkbox", name: "#", value: "#", id: 'all-sl'}
        = image_tag('dustbin.png', style: 'height: 25px; margin-bottom: 8px;', class: 'delete-chats')

        %table.table
          %thead
            %tr
              %th
              %th Lesson
              %th Rates
              %th Lesson Provider
              %th Shortlisted At
          %tbody
            - current_user.shortlisted_lessons.each do |sl|
              %tr
                %td
                  = check_box_tag "shortlisted_lessons[#{sl.id}]", sl.id, id: "sl_#{sl.id}"
                %td
                  = link_to sl.lesson.title.titleize, lesson_path(sl.lesson.id)

                %td
                  = display_lesson_price(sl.lesson)
                %td
                  = sl.lesson.user.display_name  
                %td
                  = sl.created_at.strftime('%d %b, %Y')
                
:javascript
  $(document).ready(function(){
    $('#shortlisted_lessons_delete_form').on('change', 'input[type="checkbox"]', function() {
                
      var allSlCheckBox = $('#all-sl');
      var slCheckboxes = $('input[id^="shortlisted_lessons_"]');
      var slCount = #{current_user.shortlisted_lessons.size};
      
      if (slCheckboxes.length > 0) {
        if (this.checked) {
          if (this.id === 'all-sl') {
            slCheckboxes.prop('checked', true);
          }
        } else{
          if (this.id === 'all-sl') {
            slCheckboxes.prop('checked', false);
          }
        }

        if ($('input[id^="shortlisted_lessons_"]:checked').length !== slCount){
          allSlCheckBox.prop('checked', false);
        }
        else{
          allSlCheckBox.prop('checked', true)
        }
      }
    })

    $('img.delete-chats').on('click', function(){
      if ($('input[id^="shortlisted_lessons_"]:checked').length > 0){
        $('#shortlisted_lessons_delete_form').submit()
      }
    })
  })
  