<style type="text/css">
  .form-control{
    width: 100% !important;
  }
  text{
    overflow: none;
  }
</style>
<div class="modal fade" id="leave-review-form-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" style="<%= @chat.booking.completed? ? 'height: 42em;' : '' %>">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>Leave a Review</h3>
      </div>

      <div class="modal-body">
        <% if !@chat.booking.completed? %>
          <p>You can only leave a review after the lesson gets completed.</p>
        <% elsif @chat.booking.completed? && @chat.sender.can_leave_review_for(@chat.lesson, @chat.sender) %>
          <b>You now are leaving review for:</b>
          
          <br />
          <div class="panel panel-default" style="width: 80%; margin: auto;">
            <div class="panel-body">
              <%= image_tag((@lesson || @chat.lesson).user.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive pull-left', id: 'next-sesson-modal-avatar') %>

                <h4 class="modal-title pull-left" style="margin-top: 10px;"><%= (@lesson || @chat.lesson).title.titleize %>
                  <br />
                  By <%= link_to (@lesson || @chat.lesson).user.display_name || 'Anonymous', '#' %>
                </h4>

                <p class="pull-right"><%= @chat.booking.lesson_schedule.rate %> $</p>
            </div>
          </div>
          <br />
          <%= form_tag(create_review_path, method: 'post') do %>
            <b>How would you rate your experience?</b>
            
            <%= hidden_field_tag 'reviews[reviewer_id]', @chat.booking.student_id %>
            <%= hidden_field_tag 'reviews[reviewee_id]', @chat.booking.instructor_id %>
            <%= hidden_field_tag 'reviews[lesson_id]', @chat.lesson.id %>
            <%= hidden_field_tag 'booking_id', @chat.booking.id %>
            
            <div class="instructor_review_trees">
              <% (5).times do |n| %>
                <%= image_tag("marketplace/blank_tree.png", class: "img-responsive img-circle review_trees #{n}-rating", data: {rating: n +1}) %>
              <% end %>
            </div>

            <%= hidden_field_tag 'reviews[rating]' %>
            <%= text_field_tag 'reviews[title]', '', class: 'form-control', placeholder: 'Headline or summary for your review (required)', required: true %>
            <br />
            <%= text_area_tag 'reviews[content]', '', class: 'form-control', rows: 5, placeholder: 'Write you review here (required)'.html_safe %>
            <br />
            <%= submit_tag 'Submit', class: 'btn btn-success pull-right' %>
          <% end %>  

        <% end %>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">

  var greenTreeImagePath = '<%= image_url('marketplace/colored_tree.png') %>';
  var greyTreeImagePath = '<%= image_url('marketplace/blank_tree.png') %>';
  
  $('.review_trees').on('click', function(){
    
    $('.review_trees').attr('src', greyTreeImagePath);
    selectTreeRating = $(this).data('rating');
    $('#reviews_rating').val(selectTreeRating);  
    
    $.each($('.review_trees'), function (index, value) { 
      if (parseInt($(value).data('rating')) <= parseInt(selectTreeRating)){
        $('.' + index + '-rating').attr('src', greenTreeImagePath);
      } 
    });

  })

</script>
