:css
  img#chat-show-instructor{
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin-right: 15px;
    position: relative;
    display: block;
    border: solid 2px green;
    padding: .4%;
    background-color: white;
  }
= render 'shared/search_header'
= render 'shared/dash_header'
.row
  = render "shared/side_menu"
  .col-md-9
    .row
      - @reviews.each do |r|
        .panel.panel-default
          .panel-body
            .col-lg-12
              %h3
                = r.title
                &nbsp;&nbsp;&nbsp;&nbsp;
                - r.rating.times do
                  = image_tag("marketplace/colored_tree.png", class: 'img-responsive img-circle review_trees', style: 'height: 30px; width: 30px; margin-left: -9px;')
                - (5 - r.rating).times do
                  = image_tag("marketplace/blank_tree.png", class: 'img-responsive img-circle review_trees', style: 'height: 30px; width: 30px;margin-left: -9px;')
              %p{style: 'margin-top: -6px !important; color: #6897bb;'} 
                = r.created_at.strftime('%d %b, %Y')  
            .col-lg-12{style: "margin-top: 15px;"}  
              %p
                = r.content
            .col-lg-9
              %p{style: 'margin-top: 1em;'}
                Attended:
                = link_to r.lesson.title, lesson_path(r.lesson.id)  
            .col-lg-3
              = image_tag(r.reviewer.profile.try(:avatar).try(:url, :medium) || 'avatar.png', class: 'img-responsive pull-left', id: 'chat-show-instructor')
              %p.org-name{style: 'margin-top: 1em;'}
                = r.reviewer.display_name || "N/A" 