.row
	.col-md-12.text-center
		%h1 Welcome Aboard!
		%br

.row
	.col-md-6.col-md-offset-3
		.well
			%p{ :style => "text-align: justified;" }
				Thank you for registering! You can edit your profile by accessing the 
				account tab on the top right. In order to access all functions in 
				Prevalearn, you need to verify your account via email.
				%br
				%br
				= link_to 'Finish', next_wizard_path, class: 'btn btn-success pull-right'
				%br
				