= render "after_signup/title"
.row
	.col-md-6.col-md-offset-3
		.well{ :style => "text-align: justified;" }
			= simple_form_for(@resource, url: "#{wizard_path}/?resource=#{@resource.class.name}", html: { method: :put }) do |f|
				.form-inputs
					= f.simple_fields_for :profile do |p|
						%label
							= "#{@resource.class.name.eql?("Organization") ? 'Country *' : 'Country of Birth *'}"
						= p.association :app_country, label: false, required: true, input_html: { class: 'chosen-select' }
					- if @resource.class.name.eql?("Individual")
						= f.input :postal_code, label: "Postal Code of your Residence (Optional)"
						%label
							Please provide a valid contact number *
						= f.input :contact_number, placeholder: '+1 ...', label: false
					- if @resource.class.name.eql?("Organization")
						%label
							= "Name of Organization/ Company *"
						= f.input :name, label: false, required: true
				.form-actions
					= f.button :submit, "Next", class: 'btn btn-success pull-right'
					* Required information
					%br

