= render "after_signup/title"
.row
	.col-md-6.col-md-offset-3
		.well{ :style => "text-align: justified;" }
			= simple_form_for(@resource, url: "#{wizard_path}/?resource=#{@resource.class.name}", html: { method: :put }) do |f|
				.form-inputs
					- if @resource.class.name.eql?("Individual")
						%label First name *
						= f.input :first_name, label: false
						%label Last name *
						= f.input :last_name, label: false
					- if @resource.class.name.eql?("Organization")
						%label Organization/Company’s Address *
						= f.input :address, label: false, required: true
						%label Industry *
						= f.association :industry, label: false, required: true
					= f.input :step, as: :hidden, input_html: { value: 'step_three' }
				.form-actions
					= f.button :submit, "Next", class: 'btn btn-success pull-right'
					%br
