= render "after_signup/title"
.row
	.col-md-6.col-md-offset-3
		.well{ :style => "text-align: justified;" }
			= simple_form_for(@resource, url: "#{wizard_path}/?resource=#{@resource.class.name}", html: { method: :put }) do |f|
				.form-inputs
					- if @resource.class.name.eql?("Individual")
						%label
							Are you here to learn or teach a skill? *
						= f.association :objective, as: :radio_buttons, label: false
						%label
							Gender *
						= f.association :gender, as: :radio_buttons, label: false
						%label
							Date of birth *
						= f.input :date_of_birth, :as => :date_picker, label: false
					- if @resource.class.name.eql?("Organization")
						%label Company’s Registration Number *
						= f.input :registration_number, label: false
						%label Website *
						= f.input :website, as: :url, label: false, placeholder: "http://site.com or https://www.site.com", hint: "<i><small>e.g http://site.com or https://www.site.com</small></i>".html_safe
						%label Contact number *
						= f.input :contact_number, label: false, placeholder: "+#{@resource.profile.app_country.country_code} ..."
					= f.input :step, as: :hidden, input_html: { value: 'step_four' }
				.form-actions
					= f.button :submit, "Next", class: 'btn btn-success pull-right'
					%br
