= render "after_signup/title"
.row
	.col-md-6.col-md-offset-3
		.well{ :style => "text-align: justified;" }

			= simple_form_for(@resource, url: "#{wizard_path}/?resource=#{@resource.class.name}", html: { method: :put }) do |f|
				.form-inputs
					%label
						Are you applying as an individual or as an organization/company?
					= f.association :user_type, collection: @user_types, as: :radio_buttons, label: false
				.form-actions
					= f.button :submit, "Next", class: 'btn btn-success pull-right'
					%br
