!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Prevalearn
    -# %script{:src => "https://maps.googleapis.com/maps/api/js?sensor=false"}
    %script{:src => "https://maps.googleapis.com/maps/api/js?key=#{ENV.fetch('GOOGLE_API')}&libraries=places"}
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render "shared/header"
    .container
      - if show_layout_flash? && !controller_name.eql?('after_signup')
        = flash_messages if show_layout_flash?
    - if controller_name.eql?("static_pages")
      = yield
    - else
      .container
        = yield
    
    = render "shared/footer"    
    = render 'shared/modal'
