.p
	Please re-enter your password to deactivate your account
%br
.p
	= simple_form_for(:user, url: confirm_delete_accounts_path, remote: true, html: {  id: "deleteAccount" }) do |f|
		= f.input :password, label: 'Password'

		.pull-right
			%button{ :type => 'button', :class => 'btn btn-default btn-sm', :data => { :dismiss => 'modal'} }
				Cancel
			= f.button :submit, "Deactivate account", class: 'btn btn-primary btn-sm'
		%br
		%br