= f.input :full_name, required: true, input_html: { value: "#{current_user.profile.profilable.first_name} #{current_user.profile.profilable.last_name}" }
= f.input :display_name, input_html: { value: current_user.profile.profilable.display_name }
= f.input :gender, required: true, as: :radio_buttons, collection: Gender.all, checked: current_user.profile.profilable.gender.id
= f.input :email, required: true, input_html: { value: current_user.email }
- if devise_mapping.confirmable?
	%p
		%small
			%i
				- if current_user.pending_reconfirmation?
					Currently waiting confirmation for:
					%strong #{current_user.unconfirmed_email}
					%br
				- if !current_user.confirmed? || current_user.pending_reconfirmation?
					= link_to "Didn't receive confirmation instructions?", new_confirmation_path(current_user)
= f.input :mobile, required: true, input_html: { value: current_user.profile.profilable.contact_number }
= f.input :date_of_birth, required: true, :as => :text, input_html: { data: { date_options: { defaultDate: current_user.profile.profilable.date_of_birth } } }
= f.input :address, as: :text, input_html: { rows: 7, value: current_user.profile.profilable.address }
= f.input :zipcode, required: true, input_html: { value: current_user.profile.profilable.postal_code }
