= f.input :name, label: "Name of Company", required: true, input_html: { value: current_user.profile.profilable.name }
= f.input :type_of_company, input_html: { value: current_user.profile.profilable.type_of_company }
= f.input :email, required: true, input_html: { value: current_user.email }
- if devise_mapping.confirmable?
	%p
		%small
			%i
				- if current_user.pending_reconfirmation?
					Currently waiting confirmation for: 
					%strong #{current_user.unconfirmed_email}
					%br
				- if !current_user.confirmed? || current_user.pending_reconfirmation?
					= link_to "Didn't receive confirmation instructions?", new_confirmation_path(current_user)
= f.input :address, label: "Company Address", as: :text, required: true, input_html: { rows: 9, value: current_user.profile.profilable.address }
= f.input :zipcode, required: true, input_html: { value: current_user.profile.profilable.zipcode }
= f.input :website, input_html: { value: current_user.profile.profilable.website }
%br