.p
	We are sorry for the inconvenience if you encountered a problem. Please take a moment to describe your problem and our support team will look into it.
%br
.p
	= simple_form_for(:report, url: email_report_accounts_path, remote: true) do |f|
		= f.input :desc, as: :text, input_html: {:rows => 7}, label: 'Describe the Problem', placeholder: "Messages goes here"

		.pull-right
			%button{ :type => 'button', :class => 'btn btn-default btn-sm', :data => { :dismiss => 'modal'} }
				Cancel
			= f.button :submit, "Report Problem", class: 'btn btn-primary btn-sm'
		%br
		%br
