.p
	= "A verification form has been sent to the email #{link_to current_user.email, '#'}. Please input the code to verify your account.".html_safe
%br
.p
	=# simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
	= simple_form_for(user, url: confirm_verification_accounts_path, method: :put) do |f|
		= f.input :verification_code, label: 'Verification Code'

		.pull-right
			%button{ :type => 'button', :class => 'btn btn-default btn-sm', :data => { :dismiss => 'modal'} }
				Cancel
			= f.button :submit, "Verify", class: 'btn btn-primary btn-sm'
		%br
		%br