$('#sharedModal').modal('hide');

if ("<%= @success %>") {
	$('.delete_account').html("<%= escape_javascript(render('accounts/delete_account_link')) %>");
	$("#deleteAccountLink").click();
}

if ("<%= @failure %>") {
	toastr.warning("<%= @failure %>", 'Warning');
}