$('#sharedModal .modal-body').html("<%= escape_javascript(render('accounts/deletion_form', user: @user)) %>");
$('#sharedModal > .modal-dialog').addClass('modal-sm');
$('#sharedModal').find('h4').addClass('text-center');
$('#sharedModal').find('h4').text('Deactivate Account');
$('#sharedModal').modal('show');