$('#sharedModal .modal-body').html("<%= escape_javascript(render('accounts/problem_form', user: @user)) %>");
$('#sharedModal > .modal-dialog').addClass('modal-m');
$('#sharedModal').find('h4').addClass('text-center');
$('#sharedModal').find('h4').text('Report Problem');
$('#sharedModal').modal('show');
